@charset "UTF-8";
/* webfont — nanumgothic */
@font-face {
  font-family: 'NanumGothic';
  src: url(../fonts/NanumGothic.eot);
  src: url(../fonts/NanumGothic.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumGothic.woff) format("woff"), url(../fonts/NanumGothic.ttf) format("truetype"); }

@font-face {
  font-family: 'NanumGothicBold';
  src: url(../fonts/NanumGothicBold.eot);
  src: url(../fonts/NanumGothicBold.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumGothicBold.woff) format("woff"), url(../fonts/NanumGothicBold.ttf) format("truetype"); }

/* default */
/* line 17, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
html, body {
  width: 100%;
  height: 100%;
  letter-spacing: -0.025em;
  background: #3a566c; }

/* line 18, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
body {
  font-family: 'NanumGothic', sans-serif;
  font-size: 16px; }

/* line 19, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
input {
  font-family: 'NanumGothic', sans-serif;
  font-size: 16px; }

/* line 20, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 21, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
.blind {
  position: absolute !important;
  font-size: 0 !important;
  line-height: 0 !important;
  text-shadow: none !important;
  color: transparent !important;
  cursor: pointer; }

/* line 48, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
#header {
  width: 100%; }
  @media (min-width: 720px) {
    /* line 48, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    #header {
      min-width: 1000px;
      border-bottom: 1px solid #758998; } }
  /* line 53, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  #header .header-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 720px) {
      /* line 53, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #header .header-wrap {
        width: 990px;
        padding: 12px 5px;
        display: block; } }
    /* line 58, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    #header .header-wrap h1 {
      display: none;
      float: left; }
      @media (min-width: 720px) {
        /* line 58, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap h1 {
          display: block; } }
    /* line 63, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    #header .header-wrap .navigation {
      width: 100%;
      height: 43px;
      padding: 10px 0; }
      @media (min-width: 720px) {
        /* line 63, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .navigation {
          position: absolute;
          right: 0;
          width: 240px;
          height: 56px;
          padding: 0; } }
      /* line 68, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #header .header-wrap .navigation > ul {
        width: 100%;
        height: 100%; }
        /* line 70, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .navigation > ul::after {
          content: '';
          display: block;
          clear: both; }
        /* line 71, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .navigation > ul > li {
          float: left;
          position: relative;
          width: 20%;
          height: 100%; }
          /* line 73, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li a {
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
          /* line 74, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.home > a {
            background-image: url("../img/nav_btn_home.png");
            background-size: 23px 25px; }
            @media (min-width: 720px) {
              /* line 74, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li.home > a {
                background-image: url("../img/nav_btn_home-medium.png");
                background-size: 21px 23px; } }
          /* line 79, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.popcon > a {
            background-image: url("../img/nav_btn_popcon.png");
            background-size: 28px 27px; }
            @media (min-width: 720px) {
              /* line 79, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li.popcon > a {
                background-image: url("../img/nav_btn_popcon-medium.png");
                background-size: 21px 22px; } }
          /* line 84, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.mail > a {
            background-image: url("../img/nav_btn_mail.png");
            background-size: 27px 18px; }
            @media (min-width: 720px) {
              /* line 84, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li.mail > a {
                background-image: url("../img/nav_btn_mail-medium.png");
                background-size: 30px 22px; } }
          /* line 89, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.write > a {
            background-image: url("../img/nav_btn_write.png");
            background-size: 23px 23px; }
            @media (min-width: 720px) {
              /* line 89, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li.write > a {
                background-image: url("../img/nav_btn_write-medium.png");
                background-size: 22px 22px; } }
          /* line 94, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.menu > a {
            background-image: url("../img/nav_btn_menu.png");
            background-size: 32px 26px; }
            @media (min-width: 720px) {
              /* line 94, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li.menu > a {
                background-image: url("../img/nav_btn_menu-medium.png");
                background-size: 32px 26px; } }
          /* line 100, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li ul {
            display: none;
            overflow: hidden;
            position: absolute;
            z-index: 9999;
            top: 34px;
            right: 50%;
            width: 138px;
            margin-right: -16px;
            background: #fff;
            font-size: 12px; }
            @media (min-width: 720px) {
              /* line 100, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li ul {
                top: 40px;
                width: 157px;
                font-size: 13px; } }
            /* line 102, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
            #header .header-wrap .navigation > ul > li ul li {
              border-top: 1px solid #e6e6e6; }
              /* line 103, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li ul li:first-child {
                border: 0; }
              /* line 104, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li ul li a {
                padding: 10px; }
                /* line 105, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
                #header .header-wrap .navigation > ul > li ul li a:hover {
                  background: #3c3b3d;
                  color: #e8ce4d; }
          /* line 110, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.menu.opened > a {
            background-image: url("../img/nav_btn_menu-on.png"); }
            @media (min-width: 720px) {
              /* line 110, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
              #header .header-wrap .navigation > ul > li.menu.opened > a {
                background-image: url("../img/nav_btn_menu-medium-on.png"); } }
          /* line 113, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .navigation > ul > li.menu.opened > ul {
            display: block; }
    /* line 119, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    #header .header-wrap .search {
      overflow: hidden;
      float: left;
      width: 100%;
      height: 40px; }
      @media (min-width: 720px) {
        /* line 119, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .search {
          width: auto;
          height: auto;
          padding: 20px 0; } }
      /* line 124, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #header .header-wrap .search-selectbox {
        float: left;
        position: relative;
        width: 65px;
        margin-left: 25px;
        padding: 10px 0;
        color: #b8c1c9;
        line-height: 1em;
        background-image: url(../img/icon_arrow_down.png);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 11px 7px; }
        @media (min-width: 720px) {
          /* line 124, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .search-selectbox {
            margin-right: 50px;
            padding: 0; } }
        /* line 128, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .search-selectbox label {
          display: block;
          margin-right: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 129, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .search-selectbox select {
          position: absolute;
          top: 10px;
          left: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          /* IE 8 */ }
          @media (min-width: 720px) {
            /* line 129, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
            #header .header-wrap .search-selectbox select {
              top: 0; } }
      /* line 133, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #header .header-wrap .search-input {
        overflow: hidden;
        position: absolute;
        left: 128px;
        right: 5px; }
        @media (min-width: 720px) {
          /* line 133, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
          #header .header-wrap .search-input {
            float: left;
            position: relative;
            left: auto; } }
        /* line 136, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .search-input-wrap {
          display: block;
          padding: 10px 0 10px 22px;
          background-image: url(../img/icon_search.png);
          background-repeat: no-repeat;
          background-size: 14px 14px;
          background-position: left center; }
          @media (min-width: 720px) {
            /* line 136, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
            #header .header-wrap .search-input-wrap {
              padding: 0 0 0 30px;
              background-image: url("../img/icon_search-medium.png");
              background-size: 14px 14px; } }
        /* line 140, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
        #header .header-wrap .search-input input[type='text'] {
          width: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          background: none;
          color: #b8c1c9;
          font-size: 1em;
          line-height: 1em; }
    /* line 145, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    #header .header-wrap::after {
      content: '';
      display: block;
      clear: both; }

/* line 150, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
.notice-area {
  display: none;
  width: 100%;
  min-width: 1000px;
  padding: 22px 0;
  background: #2a394f;
  color: #9dabb6;
  text-align: center;
  font-size: 15px; }
  /* line 151, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  .notice-area a {
    color: #ffff99;
    text-decoration: underline; }
  @media (min-width: 720px) {
    /* line 150, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    .notice-area {
      display: block; } }

/* line 156, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
.pop-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 128px;
  background: #fff;
  border: 1px solid #ccc; }
  /* line 157, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  .pop-menu:after, .pop-menu:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    width: 0;
    height: 0;
    border: solid transparent;
    pointer-events: none; }
  /* line 158, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  .pop-menu:after {
    margin-left: -8px;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px; }
  /* line 159, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  .pop-menu:before {
    margin-left: -9px;
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 9px; }
  /* line 160, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  .pop-menu ul {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 13px; }
  /* line 161, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  .pop-menu li {
    border-top: 1px solid #e1e1e1;
    background: #fff;
    color: #333; }
    /* line 162, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    .pop-menu li:first-child {
      border-top: 0; }
    /* line 163, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    .pop-menu li a {
      display: block;
      padding: 8px 12px; }
      /* line 164, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      .pop-menu li a:hover {
        background: #3c3b3d;
        color: #e8ce4d; }

/* line 169, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
#upload-pop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 100000;
  font-size: 0;
  line-height: 0;
  background: rgba(37, 59, 79, 0.94); }
  /* line 171, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
  #upload-pop .upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 363px;
    height: 383px;
    margin: -191px 0 0 -181px;
    text-align: center;
    background: url("../img/upload_icon.png") no-repeat; }
    /* line 172, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
    #upload-pop .upload-icon .upload-btn {
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      /* line 173, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #upload-pop .upload-icon .upload-btn.video {
        top: 37px;
        left: 56px;
        width: 60px;
        height: 56px;
        background-image: url("../img/upload_btn_video.png"); }
      /* line 174, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #upload-pop .upload-icon .upload-btn.text {
        top: 68px;
        left: 259px;
        width: 27px;
        height: 29px;
        background-image: url("../img/upload_btn_text.png"); }
      /* line 175, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #upload-pop .upload-icon .upload-btn.audio {
        top: 146px;
        left: 166px;
        width: 38px;
        height: 38px;
        background-image: url("../img/upload_btn_audio.png"); }
      /* line 176, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #upload-pop .upload-icon .upload-btn.file {
        top: 244px;
        left: 280px;
        width: 55px;
        height: 47px;
        background-image: url("../img/upload_btn_file.png"); }
      /* line 177, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/common.scss */
      #upload-pop .upload-icon .upload-btn.photo {
        top: 252px;
        left: 48px;
        width: 82px;
        height: 79px;
        background-image: url("../img/upload_btn_photo.png"); }

/*# sourceMappingURL=common.css.map */