/* webfont — nanumgothic */
@font-face {
 font-family: 'NanumGothic';
 src: url(../fonts/NanumGothic.eot);
 src: url(../fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumGothic.woff) format('woff'),
      url(../fonts/NanumGothic.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumGothicBold';
 src: url(../fonts/NanumGothicBold.eot);
 src: url(../fonts/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumGothicBold.woff) format('woff'),
      url(../fonts/NanumGothicBold.ttf) format('truetype');
}
/* default */
html,body{width: 100%;height: 100%;letter-spacing: -0.025em;background: #3a566c;}
body{font-family:'NanumGothic', sans-serif;font-size:16px;}
input{font-family:'NanumGothic', sans-serif;font-size:16px;}
a{color:inherit; text-decoration: none;}
.blind{position: absolute !important;font-size: 0 !important; line-height:0 !important; text-shadow:none !important;color:transparent !important;cursor:pointer;}


//반응형웹 브레이크포인트
$breakpoints: (
  'narrow': (min-width: 320px),
  'medium': (min-width: 720px),
  'wide': (min-width: 1200px),
);

//반응형웹 브레이크포인트 매니저
//@include respond-to('medium'){} 형태로 선언
@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}@else{
		@error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
	}
}

//변수선언
$font-weight-normal: 'NanumGothic', sans-serif;
$font-weight-bold: 'NanumGothicBold', sans-serif;

//common layout
#header{width: 100%;
	@include respond-to('medium'){
		min-width: 1000px;border-bottom: 1px solid #758998;
	}
	
	.header-wrap{position: relative;width: 100%;margin: 0 auto;
		@include respond-to('medium'){
			width: 990px;padding: 12px 5px;display: block;
		}
		
		h1{display: none;float: left;
			@include respond-to('medium'){
				display: block;
			}
		}
		.navigation{width: 100%;height: 43px;padding: 10px 0;
			@include respond-to('medium'){
				position: absolute;right: 0;width: 240px;height: 56px;padding: 0;
			}
			
			>ul{width: 100%;height: 100%;
				
				&::after{content: '';display: block;clear: both;}
				>li{float:left;position: relative;width: 20%;height: 100%;
					
					a{display: block;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center center;}
					&.home>a{background-image: url("../img/nav_btn_home.png");background-size: 23px 25px;
						@include respond-to('medium'){
							background-image: url("../img/nav_btn_home-medium.png");background-size:21px 23px ;
						}
					}
					&.popcon>a{background-image: url("../img/nav_btn_popcon.png");background-size:28px 27px;
						@include respond-to('medium'){
							background-image: url("../img/nav_btn_popcon-medium.png");background-size: 21px 22px;
						}
					}
					&.mail>a{background-image: url("../img/nav_btn_mail.png");background-size: 27px 18px;
						@include respond-to('medium'){
							background-image: url("../img/nav_btn_mail-medium.png");background-size: 30px 22px;
						}
					}
					&.write>a{background-image: url("../img/nav_btn_write.png");background-size: 23px 23px;
						@include respond-to('medium'){
							background-image: url("../img/nav_btn_write-medium.png");background-size: 22px 22px;
						}
					}
					&.menu>a{background-image: url("../img/nav_btn_menu.png");background-size: 32px 26px;
						@include respond-to('medium'){
							background-image: url("../img/nav_btn_menu-medium.png");background-size: 32px 26px;
						}
					}
					
					ul{display: none;overflow: hidden;position:absolute;z-index: 9999; top:34px;right:50%;width: 138px;margin-right: -16px; background: #fff;font-size: 12px;
						@include respond-to('medium'){top:40px;width: 157px;font-size: 13px;}
						li{border-top:1px solid #e6e6e6;
							&:first-child{border:0;}
							a{padding: 10px;
								&:hover{background: #3c3b3d;color: #e8ce4d;}
							}
						}
					}
					&.menu.opened{
						>a{background-image: url("../img/nav_btn_menu-on.png");
							@include respond-to('medium'){background-image: url("../img/nav_btn_menu-medium-on.png");}
						}
						>ul{display: block;
						}
					}
				}
			}
		}
		.search{overflow: hidden;float: left;width: 100%;height: 40px;
			@include respond-to('medium'){
				width: auto;height: auto;padding:20px 0;
			}
			
			&-selectbox{float: left;position: relative;width: 65px;margin-left: 25px;padding: 10px 0;color: #b8c1c9;line-height: 1em;background-image: url(../img/icon_arrow_down.png);background-repeat: no-repeat;background-position: right center;background-size: 11px 7px;
				@include respond-to('medium'){
					margin-right:50px;padding:0;
				}
				label{display: block;margin-right: 15px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
				select{position:absolute;top:10px;left:0;opacity: 0;filter: alpha(opacity=0);/* IE 8 */
					@include respond-to('medium'){top:0;}
				}
			}
			&-input{overflow: hidden;position: absolute;left: 128px;right: 5px;
				@include respond-to('medium'){float: left;position: relative;left: auto;}
				
				&-wrap{
					display: block;padding: 10px 0 10px 22px;background-image: url(../img/icon_search.png);background-repeat: no-repeat;background-size:14px 14px;background-position: left center;
					@include respond-to('medium'){padding:0 0 0 30px ;background-image: url("../img/icon_search-medium.png");background-size: 14px 14px;}
				}
				input[type='text']{width: 100%;margin: 0;padding:0;border:0;background: none;color: #b8c1c9;font-size: 1em;line-height: 1em;
				}
			}
		}
		
		&::after{content:'';display: block;clear: both;}
	}
}

//common ui
.notice-area{display: none;width: 100%;min-width: 1000px; padding: 22px 0;background: #2a394f;color: #9dabb6;text-align: center;font-size: 15px;
	a{color: #ffff99;text-decoration: underline;}
	@include respond-to('medium'){
		display: block;
	}
}
.pop-menu{display: none;position: absolute;z-index: 10;width: 128px;background: #fff;border: 1px solid #ccc;
	&:after, &:before {content:"";position: absolute;bottom: 100%;left: 20%;width: 0;height: 0;border: solid transparent;pointer-events: none;}
	&:after{margin-left: -8px;border-color: rgba(255, 255, 255, 0);border-bottom-color: #fff;border-width: 8px;}
	&:before {margin-left: -9px;border-color: rgba(204, 204, 204, 0);border-bottom-color: #ccc;border-width: 9px;}
	ul{box-shadow: 0 0 10px rgba(0,0,0,0.2);font-size:13px;}
	li{border-top:1px solid #e1e1e1;background: #fff;color: #333;
		&:first-child{border-top:0;}
		a{display: block;padding: 8px 12px;
			&:hover{background: #3c3b3d;color: #e8ce4d;}
		}
	}
}

#upload-pop{position:fixed;top:0;right:0;left:0;height: 100%;
z-index: 100000;font-size: 0;line-height: 0;background: rgba(37,59,79,0.94);
	.upload-icon{position: absolute; top:50%; left:50%; width: 363px;height: 383px; margin:-191px 0 0 -181px;text-align: center;background: url("../img/upload_icon.png") no-repeat;
		.upload-btn{position: absolute;display: block;background-repeat: no-repeat;background-size: 100% 100%;
			&.video{top: 37px;left: 56px;width: 60px;height: 56px;background-image: url('../img/upload_btn_video.png');}
			&.text{top: 68px;left: 259px;width: 27px;height: 29px;background-image: url('../img/upload_btn_text.png');}
			&.audio{top: 146px;left: 166px;width: 38px;height: 38px;background-image: url('../img/upload_btn_audio.png');}
			&.file{top: 244px;left: 280px;width: 55px;height: 47px;background-image: url('../img/upload_btn_file.png');}
			&.photo{top: 252px;left: 48px;width: 82px;height: 79px;background-image: url('../img/upload_btn_photo.png');}
		}
	}
}