/* line 25, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 720px) {
    #contents {
      width: 1000px; } }
  /* line 28, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents > .wrap {
    padding: 5px 0; }
    @media (min-width: 720px) {
      #contents > .wrap {
        padding: 0; } }
    /* line 31, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents > .wrap-upper {
      overflow: hidden;
      padding: 5px; }
      @media (min-width: 720px) {
        #contents > .wrap-upper {
          margin: 28px 0;
          padding: 0; } }
    /* line 34, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents > .wrap-lower {
      overflow: hidden;
      position: relative; }
    @media (min-width: 720px) {
      #contents > .wrap article.main-visual {
        float: left;
        width: 75%; } }
    /* line 40, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents > .wrap article.feed {
      display: none;
      float: left;
      width: 25%; }
      @media (min-width: 720px) {
        #contents > .wrap article.feed {
          display: block; } }
      /* line 43, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents > .wrap article.feed ul {
        margin: 0 5px;
        height: 204px;
        background: #9dabb6;
        border-radius: 5px; }
        /* line 45, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.feed ul li a {
          display: block;
          position: relative;
          padding: 17px 20px 17px 70px;
          border-top: 1px solid #3a566c;
          color: #335170;
          background-repeat: no-repeat;
          background-position: 24px center; }
          /* line 46, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents > .wrap article.feed ul li a span {
            display: block;
            position: absolute;
            top: 14px;
            right: 20px;
            width: 48px;
            padding: 5px 0;
            border: 1px solid #c1cad1;
            border-radius: 25px;
            background: #758494;
            color: #fff;
            font-size: 12px;
            text-align: center; }
        /* line 48, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.feed ul li:first-child > a {
          border: 0; }
        /* line 49, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.feed ul li.like > a {
          background-image: url('../img/main_feed_like.png'); }
        /* line 50, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.feed ul li.sns > a {
          background-image: url('../img/main_feed_sns.png'); }
        /* line 51, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.feed ul li.pop > a {
          background-image: url('../img/main_feed_pop.png'); }
        /* line 52, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.feed ul li.comments > a {
          background-image: url('../img/main_feed_comments.png'); }
    /* line 56, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents > .wrap article.popular-search {
      display: none;
      position: absolute;
      right: 0;
      z-index: 10;
      width: 25%;
      color: #e0e0e0;
      font-size: 14px; }
      @media (min-width: 720px) {
        #contents > .wrap article.popular-search {
          display: block; } }
      /* line 59, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents > .wrap article.popular-search .popular-search-wrap {
        margin: 0 5px; }
        /* line 60, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.popular-search .popular-search-wrap h1 {
          padding: 10px;
          border-bottom: 1px solid #758998;
          color: #fff;
          font-size: 16px; }
        /* line 61, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents > .wrap article.popular-search .popular-search-wrap ol {
          counter-reset: section; }
          /* line 63, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents > .wrap article.popular-search .popular-search-wrap ol li {
            padding: 10px;
            border-top: 1px solid #758998; }
            /* line 65, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents > .wrap article.popular-search .popular-search-wrap ol li:before {
              counter-increment: section;
              content: counters(section, ".") ".";
              margin-right: 14px;
              font-weight: bold; }
  /* line 73, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents #grid .item {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 10px; }
    @media (min-width: 720px) {
      #contents #grid .item {
        width: 25%; } }
    /* line 76, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents #grid .item-wrap {
      background: #fff;
      margin: 0 5px;
      border-radius: 5px; }
    /* line 77, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents #grid .item-header {
      padding: 10px; }
      /* line 78, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-header .author {
        position: relative;
        height: 30px; }
        /* line 79, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-header .author .profile {
          position: absolute;
          left: 0;
          vertical-align: middle;
          line-height: 0; }
        /* line 80, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-header .author .name {
          display: block;
          overflow: hidden;
          padding: 8px 0;
          margin-left: 35px;
          margin-right: 18px;
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 81, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-header .author .state {
          display: block;
          position: absolute;
          top: 6px;
          right: 0;
          width: 18px;
          height: 18px;
          font-size: 0;
          line-height: 0; }
        /* line 83, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-header .author::after {
          content: "";
          display: block;
          clear: both; }
      /* line 85, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-header .description {
        position: relative;
        padding: 5px 0;
        font-size: 11px;
        color: #888; }
        /* line 86, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-header .description span:first-child {
          display: block;
          overflow: hidden;
          margin-right: 60px;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 87, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-header .description .date {
          position: absolute;
          top: 6px;
          right: 0; }
    /* line 90, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents #grid .item-view {
      padding: 0 10px 10px 10px; }
      /* line 91, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-view p {
        display: block;
        height: 100%;
        font-size: 13px;
        color: #888;
        line-height: 18px; }
      /* line 92, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-view img, #contents #grid .item-view audio, #contents #grid .item-view video, #contents #grid .item-view object {
        max-width: 100% !important; }
      /* line 93, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-view object {
        display: block; }
    /* line 95, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents #grid .item-footer {
      position: relative;
      border-top: 1px solid #e4e4e4; }
      /* line 96, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-footer::after {
        content: "";
        display: block;
        clear: both; }
      /* line 97, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents #grid .item-footer > a {
        display: block;
        float: left;
        width: 25%; }
        /* line 98, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a:first-child span {
          border: 0; }
        /* line 99, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a span {
          display: block;
          padding: 30px 0 7px;
          font-size: 11px;
          text-align: center;
          color: #b2b2b2;
          border-left: 1px solid #e4e4e4;
          background-repeat: no-repeat;
          background-position: center 7px; }
        /* line 101, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.like > span {
          background-image: url(../img/item_btn_like.png); }
        /* line 102, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.like.active > span {
          background-image: url(../img/item_btn_like-on.png); }
        /* line 103, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.share > span {
          background-image: url(../img/item_btn_share.png); }
        /* line 104, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.share.active > span {
          background-image: url(../img/item_btn_share-on.png); }
        /* line 105, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.pop > span {
          background-image: url(../img/item_btn_popcon.png); }
        /* line 106, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.pop.active > span {
          background-image: url(../img/item_btn_popcon-on.png); }
        /* line 107, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.comments > span {
          background-image: url(../img/item_btn_comment.png); }
        /* line 108, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents #grid .item-footer > a.comments.active > span {
          background-image: url(../img/item_btn_comment-on.png); }
    /* line 112, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents #grid .item.text .item-view {
      padding: 10px;
      border-top: 1px solid #e4e4e4; }
    /* line 113, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents #grid .item.add_margin {
      margin-top: 0; }
      @media (min-width: 720px) {
        #contents #grid .item.add_margin {
          margin-top: 217px; } }

/* line 122, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#detail {
  margin: 5px;
  background: #fff;
  border-radius: 5px; }
  @media (min-width: 720px) {
    #detail {
      margin: 28px 5px; } }
  /* line 124, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #detail .detail-photo {
    padding: 10px; }
    @media (min-width: 720px) {
      #detail .detail-photo {
        padding: 20px; } }
    /* line 126, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-photo img {
      max-width: 100%; }
  /* line 128, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #detail .detail-btns {
    overflow: hidden;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    /* line 129, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-btns li {
      float: left;
      width: 25%; }
      /* line 130, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li > a {
        display: block;
        padding: 6px 0;
        border-left: 1px solid #e1e1e1;
        font-size: 7px;
        text-align: center; }
      /* line 131, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li:first-child > a {
        border: 0; }
      /* line 132, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li em {
        display: block;
        font-family: 'NanumGothicBold', sans-serif; }
      /* line 133, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li span {
        display: inline-block;
        margin-top: 5px;
        padding: 4px 0 4px 20px;
        color: #777b81;
        background-repeat: no-repeat;
        background-position: left center; }
      /* line 134, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li a.like > span {
        background-image: url("../img/detail_btn_like.png");
        background-size: 11px 12px; }
      /* line 135, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li a.share > span {
        background-image: url("../img/detail_btn_share.png");
        background-size: 12px 12px; }
      /* line 136, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li a.comments > span {
        background-image: url("../img/detail_btn_comments.png");
        background-size: 11px 12px; }
      /* line 137, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-btns li a.popcon > span {
        background-image: url("../img/detail_btn_popcon.png");
        background-size: 12px 13px; }
      @media (min-width: 720px) {
        /* line 140, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-btns li > a {
          font-size: 14px;
          padding: 12px 0; }
        /* line 141, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-btns li span {
          margin-top: 10px;
          padding: 8px 0 8px 40px; }
        /* line 142, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-btns li a.like > span {
          background-size: 23px 25px; }
        /* line 143, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-btns li a.share > span {
          background-size: 25px 24px; }
        /* line 144, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-btns li a.comments > span {
          background-size: 23px 24px; }
        /* line 145, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-btns li a.popcon > span {
          background-size: 25px 26px; } }
  /* line 149, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #detail .detail-content {
    padding: 22px 30px 30px; }
    /* line 150, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-content h1 {
      margin-bottom: 20px;
      font-size: 15px;
      font-family: 'NanumGothicBold', sans-serif; }
    /* line 151, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-content > p {
      margin-top: 10px;
      font-size: 12px;
      line-height: 1.8em; }
      /* line 152, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-content > p :first-child {
        margin: 0; }
    /* line 154, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-content-info {
      position: relative;
      height: 40px;
      margin-top: 25px;
      font-size: 8px; }
      /* line 155, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-content-info::after {
        content: "";
        display: block;
        clear: both; }
      /* line 156, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-content-info .author {
        float: left;
        position: relative; }
        /* line 157, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .author::after {
          content: "";
          display: block;
          clear: both; }
        /* line 158, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .author span {
          float: left; }
        /* line 159, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .author .profile {
          line-height: 0; }
          /* line 160, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .author .profile img {
            width: 15px;
            height: 15px; }
        /* line 162, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .author .name {
          float: left;
          margin-left: 4px;
          padding: 3px 0;
          font-family: 'NanumGothicBold', sans-serif; }
        /* line 163, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .author .date {
          margin-left: 15px;
          padding: 3px 0;
          color: #888; }
        /* line 164, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .author .state {
          margin-left: 4px;
          padding: 3px 0;
          line-height: 0; }
          /* line 165, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .author .state img {
            width: 9px;
            height: 9px; }
      /* line 168, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-content-info .post {
        float: right; }
        /* line 169, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .post::after {
          content: "";
          display: block;
          clear: both; }
        /* line 170, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .post .btns {
          float: left; }
          /* line 171, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns a {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-left: 12px;
            background-repeat: no-repeat;
            background-position: center center; }
            /* line 172, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-content-info .post .btns a:first-child {
              margin-left: 0; }
          /* line 174, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns .btn-report {
            background-image: url("../img/icon_megaphone.png");
            background-size: 11px 11px; }
          /* line 175, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns .btn-modify {
            background-image: url("../img/icon_pencil.png");
            background-size: 11px 11px; }
          /* line 176, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns .btn-delete {
            background-image: url("../img/icon_trash.png");
            background-size: 9px 11px; }
      /* line 179, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-content-info .tags {
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 20px;
        padding: 3px 0 3px 15px;
        background-image: url("../img/icon_tag.png");
        background-repeat: no-repeat;
        background-position: left center;
        color: #888;
        background-size: 12px 13px; }
        /* line 180, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info .tags a {
          color: #888;
          margin-left: 5px; }
    @media (min-width: 720px) {
      #detail .detail-content {
        padding: 45px 60px 60px; }
        /* line 184, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content h1 {
          margin-bottom: 40px;
          font-size: 30px; }
        /* line 185, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content > p {
          margin-top: 20px;
          font-size: 20px; }
        /* line 186, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-content-info {
          margin-top: 50px;
          font-size: 16px; }
          /* line 188, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .author .profile > img {
            width: 30px;
            height: 30px; }
          /* line 189, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .author .name {
            margin-left: 8px;
            padding: 7px 0; }
          /* line 190, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .author .date {
            margin-left: 30px;
            padding: 7px 0; }
          /* line 191, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .author .state {
            margin-left: 8px;
            padding: 6px 0; }
            /* line 192, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-content-info .author .state img {
              width: 18px;
              height: 18px; }
          /* line 197, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns a {
            width: 25px;
            height: 25px;
            margin-left: 25px; }
          /* line 198, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns .btn-report {
            background-size: 22px 23px; }
          /* line 199, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns .btn-modify {
            background-size: 22px 23px; }
          /* line 200, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .post .btns .btn-delete {
            background-size: 18px 22px; }
          /* line 203, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-content-info .tags {
            position: relative;
            float: right;
            top: auto;
            left: auto;
            margin-left: 25px;
            padding: 4px 0 5px 30px;
            background-size: 25px 26px; }
            /* line 204, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-content-info .tags a {
              margin-left: 5px; } }
  /* line 209, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #detail .detail-comments {
    padding: 20px 10px 30px;
    background: #f7f7f7;
    border-radius: 0 0 4px 4px; }
    /* line 210, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-comments-write {
      position: relative;
      margin-bottom: 20px; }
      /* line 211, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-comments-write > label {
        position: absolute;
        top: 5px;
        color: #919191;
        font-size: 8px; }
      /* line 212, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-comments-write .input-comment {
        margin: 0 110px 0 50px;
        padding: 3px;
        border: 2px solid #c6ccd2;
        border-radius: 2px;
        background: #fff; }
        /* line 213, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-write .input-comment > input[type="text"] {
          width: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 8px; }
      /* line 215, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-comments-write .btn-wrap {
        position: absolute;
        top: 0;
        right: 0; }
        /* line 216, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-write .btn-wrap label {
          color: #888;
          font-size: 8px; }
        /* line 217, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-write .btn-wrap .btn-save {
          display: inline-block;
          width: 47px;
          height: 17px;
          margin-left: 5px;
          background-image: url("../img/btn_save.png");
          background-repeat: no-repeat;
          background-position: center center;
          color: #738695;
          font-size: 7px;
          text-align: center;
          vertical-align: middle; }
    /* line 221, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #detail .detail-comments-list > li {
      position: relative;
      padding: 4px 0;
      border-bottom: 1px solid #e1e1e1;
      font-size: 7px; }
      /* line 222, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-comments-list > li .comment-writer {
        position: absolute;
        display: inline-block;
        vertical-align: middle; }
        /* line 223, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-list > li .comment-writer img {
          width: 12px;
          height: 12px;
          vertical-align: middle; }
        /* line 224, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-list > li .comment-writer > a {
          margin-left: 5px;
          color: #529ecc; }
      /* line 226, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-comments-list > li .comment {
        display: inline-block;
        margin-left: 50px;
        margin-right: 130px; }
        /* line 227, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-list > li .comment span {
          display: block;
          line-height: 1.5em; }
      /* line 229, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #detail .detail-comments-list > li .info {
        position: absolute;
        top: 12px;
        right: 0;
        color: #888; }
        /* line 230, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-list > li .info .date {
          margin-right: 2px; }
        /* line 231, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-list > li .info .btns {
          line-height: 0; }
          /* line 232, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .info .btns a {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 4px;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center center; }
          /* line 233, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .info .btns .modify {
            background-image: url("../img/icon_pencil-small.png");
            background-size: 7px 7px; }
          /* line 234, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .info .btns .delete {
            background-image: url("../img/icon_trash-small.png");
            background-size: 5px 7px; }
    @media (min-width: 720px) {
      #detail .detail-comments {
        padding: 40px 60px 100px;
        border-radius: 0 0 4px 4px; }
        /* line 240, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-write {
          margin-bottom: 40px; }
          /* line 241, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-write > label {
            top: 10px;
            font-size: 16px; }
          /* line 242, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-write .input-comment {
            margin: 0 188px 0 100px;
            padding: 6px;
            border-radius: 5px; }
            /* line 243, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-comments-write .input-comment > input[type="text"] {
              font-size: 16px; }
          /* line 246, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-write .btn-wrap label {
            font-size: 16px; }
          /* line 247, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-write .btn-wrap .btn-save {
            width: 94px;
            height: 35px;
            margin-left: 10px;
            font-size: 14px;
            background-size: 94px 32px; }
        /* line 251, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #detail .detail-comments-list > li {
          padding: 8px 0;
          font-size: 14px; }
          /* line 253, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .comment-writer img {
            width: 25px;
            height: 25px; }
          /* line 254, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .comment-writer > a {
            margin-left: 10px; }
          /* line 256, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .comment {
            margin-left: 100px;
            margin-right: 200px; }
          /* line 257, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #detail .detail-comments-list > li .info {
            top: 12px; }
            /* line 258, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-comments-list > li .info .date {
              margin-right: 5px; }
            /* line 260, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-comments-list > li .info .btns a {
              width: 16px;
              height: 16px;
              margin-left: 8px; }
            /* line 261, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-comments-list > li .info .btns .modify {
              background-size: 14px 14px; }
            /* line 262, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #detail .detail-comments-list > li .info .btns .delete {
              background-size: 11px 14px; } }

/* line 271, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.kbox > article.kbox {
  margin: 0 5px;
  border-radius: 5px;
  background: #fff; }
  /* line 272, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox > article.kbox .kbox-wrap {
    padding: 30px 20px; }
/* line 274, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.kbox .kbox-profile {
  position: relative;
  margin: 0 10px; }
  /* line 275, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox .kbox-profile .user {
    width: 380px; }
    /* line 276, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-profile .user-photo {
      position: absolute;
      overflow: hidden;
      width: 64px;
      height: 64px;
      border-radius: 32px; }
    /* line 277, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-profile .user-info {
      margin-left: 80px; }
      /* line 278, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .user-info-wrap {
        overflow: hidden; }
        /* line 279, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-profile .user-info-wrap .name {
          font-size: 22px;
          font-family: 'NanumGothicBold', sans-serif; }
        /* line 280, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-profile .user-info-wrap .sns-wrap {
          margin-left: 10px;
          font-size: 0; }
          /* line 281, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.kbox .kbox-profile .user-info-wrap .sns-wrap a {
            margin-left: 10px; }
      /* line 284, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .user-info .desc {
        margin-top: 10px;
        font-size: 14px;
        color: #888;
        line-height: 1.5em; }
  /* line 287, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox .kbox-profile .category {
    position: absolute;
    top: 0;
    right: 0;
    width: 156px;
    height: 32px;
    color: #b8c1c9;
    line-height: 1em;
    border: 2px solid #c6ccd2;
    border-radius: 4px;
    background-image: url(../img/kbox_bg_selectbox.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 11px 7px; }
    /* line 288, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-profile .category label {
      display: block;
      overflow: hidden;
      margin: 8px 10px;
      color: #777;
      text-overflow: ellipsis;
      white-space: nowrap; }
    /* line 289, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-profile .category select {
      position: absolute;
      top: 8px;
      width: 140px;
      opacity: 0;
      filter: alpha(opacity=0);
      /* IE 8 */ }
  /* line 292, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox .kbox-profile .btns {
    margin: 60px 0 42px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 0;
    text-align: center; }
    /* line 293, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-profile .btns a {
      display: inline-block;
      width: 120px;
      padding: 42px 0 10px;
      text-align: center;
      font-size: 12px;
      color: #7f8c8d;
      background-repeat: no-repeat;
      background-position: center 10px; }
      /* line 294, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .btns a.like {
        background-image: url(../img/kbox_btn_like.png);
        background-size: 22px 25px; }
      /* line 295, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .btns a.share {
        background-image: url(../img/kbox_btn_share.png);
        background-size: 24px 23px; }
      /* line 296, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .btns a.popcon {
        background-image: url(../img/kbox_btn_popcon.png);
        background-size: 24px 25px; }
      /* line 297, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .btns a.comments {
        background-image: url(../img/kbox_btn_comment.png);
        background-size: 21px 23px; }
      /* line 298, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-profile .btns a.follower {
        background-image: url(../img/kbox_btn_follower.png);
        background-size: 20px 27px; }
/* line 303, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.kbox .kbox-list::after {
  content: '';
  display: block;
  clear: both; }
/* line 304, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.kbox .kbox-list-item {
  float: left;
  width: 25%; }
  /* line 306, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox .kbox-list-item.first-item a {
    display: block;
    height: 288px;
    margin: 6px 10px;
    border: 2px dotted #d2e1ec;
    border-radius: 5px;
    background: #eff3f7;
    background-image: url("../img/kbox_btn_addItem.png");
    background-repeat: no-repeat;
    background-position: center center; }
  /* line 308, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox .kbox-list-item .item {
    height: 274px;
    padding: 8px;
    margin: 6px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px; }
    /* line 310, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item .item-header > h1 {
      padding: 6px 6px 12px 6px;
      font-family: 'NanumGothicBold', sans-serif; }
    /* line 311, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item .item-preview {
      margin-bottom: 8px; }
      /* line 313, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-list-item .item-preview .layout .thumbnail {
        display: block;
        overflow: hidden;
        border: 1px solid #bfbfbf;
        border-radius: 4px; }
        /* line 314, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item .item-preview .layout .thumbnail img {
          width: 100%;
          height: 100%; }
      /* line 317, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-list-item .item-preview .layout-top .thumbnail {
        height: 130px; }
      /* line 319, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-list-item .item-preview .layout-bottom {
        overflow: hidden;
        margin-top: 5px; }
        /* line 320, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item .item-preview .layout-bottom .thumbnail-column {
          display: block;
          float: left;
          width: 33.3%; }
        /* line 321, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item .item-preview .layout-bottom .thumbnail {
          height: 60px;
          margin-left: 5px; }
        /* line 322, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item .item-preview .layout-bottom .thumbnail-column:first-child > span {
          margin: 0; }
    /* line 327, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item .item-footer .item-btn {
      display: block;
      background-repeat: no-repeat;
      background-position: center center; }
      /* line 328, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-list-item .item-footer .item-btn.edit {
        width: 200px;
        height: 32px;
        margin: 0 auto;
        background-image: url("../img/kbox_btn_edit.png");
        background-size: 200px 32px; }
  /* line 332, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.kbox .kbox-list-item.new {
    text-align: center; }
    /* line 335, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item.new .item-header .input-wrap {
      margin: 4px 2px;
      padding: 8px 10px;
      border: 2px solid #c6ccd2;
      border-radius: 4px;
      color: #777; }
    /* line 336, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item.new .item-header input[type="text"] {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0; }
    /* line 338, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item.new .item-preview {
      position: relative;
      height: 170px;
      margin-bottom: 25px; }
      /* line 339, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-list-item.new .item-preview .secret-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center; }
        /* line 340, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item.new .item-preview .secret-wrap label {
          color: #888; }
    /* line 343, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.kbox .kbox-list-item.new .item-footer {
      overflow: hidden; }
      /* line 344, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.kbox .kbox-list-item.new .item-footer .item-btn {
        float: left;
        width: 50%;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center center; }
        /* line 345, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item.new .item-footer .item-btn.ok {
          background-image: url("../img/kbox_btn_ok.png"); }
        /* line 346, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.kbox .kbox-list-item.new .item-footer .item-btn.cancel {
          background-image: url("../img/kbox_btn_cancel.png"); }

/* line 355, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.magazine > article.magazine {
  background: none;
  margin: 0 5px; }
  /* line 356, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine > article.magazine .profile-wrap {
    padding: 30px 20px 0 20px;
    background: #fff;
    border-radius: 5px 5px 0 0; }
/* line 358, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.magazine .magazine-profile {
  position: relative;
  margin: 0 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4; }
  /* line 359, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-profile .user {
    width: 380px; }
    /* line 360, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-profile .user-photo {
      position: absolute;
      overflow: hidden;
      width: 64px;
      height: 64px;
      border-radius: 32px; }
    /* line 361, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-profile .user-info {
      margin-left: 80px; }
      /* line 362, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-profile .user-info-wrap {
        overflow: hidden; }
        /* line 363, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-profile .user-info-wrap .name {
          font-size: 22px;
          font-family: 'NanumGothicBold', sans-serif; }
        /* line 364, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-profile .user-info-wrap .sns-wrap {
          margin-left: 10px;
          font-size: 0; }
          /* line 365, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-profile .user-info-wrap .sns-wrap a {
            margin-left: 10px; }
      /* line 368, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-profile .user-info .desc {
        margin-top: 10px;
        font-size: 14px;
        color: #888;
        line-height: 1.5em; }
  /* line 371, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-profile .category {
    position: absolute;
    top: 0;
    right: 0;
    width: 156px;
    height: 32px;
    color: #b8c1c9;
    line-height: 1em;
    border: 2px solid #c6ccd2;
    border-radius: 4px;
    background-image: url(../img/kbox_bg_selectbox.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 11px 7px; }
    /* line 372, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-profile .category label {
      display: block;
      overflow: hidden;
      margin: 8px 10px;
      color: #777;
      text-overflow: ellipsis;
      white-space: nowrap; }
    /* line 373, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-profile .category select {
      position: absolute;
      top: 8px;
      width: 140px;
      opacity: 0;
      filter: alpha(opacity=0);
      /* IE 8 */ }
/* line 378, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.magazine .magazine-list .item {
  background: #fff;
  margin-top: 2px;
  padding: 35px 30px; }
  /* line 379, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-list .item:first-child {
    margin: 0; }
  /* line 380, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-list .item .item-photo {
    padding: 10px;
    font-size: 0; }
    @media (min-width: 720px) {
      #contents.magazine .magazine-list .item .item-photo {
        padding: 0; } }
    /* line 382, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-photo img {
      max-width: 100%; }
  /* line 384, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-list .item .item-btns {
    overflow: hidden;
    border: 1px solid #e1e1e1;
    margin-top: 30px; }
    /* line 385, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-btns li {
      float: left;
      width: 25%; }
      /* line 386, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li > a {
        display: block;
        padding: 6px 0;
        border-left: 1px solid #e1e1e1;
        font-size: 7px;
        text-align: center; }
      /* line 387, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li:first-child > a {
        border: 0; }
      /* line 388, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li em {
        display: block;
        font-family: 'NanumGothicBold', sans-serif; }
      /* line 389, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li span {
        display: inline-block;
        margin-top: 5px;
        padding: 4px 0 4px 20px;
        color: #777b81;
        background-repeat: no-repeat;
        background-position: left center; }
      /* line 390, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li a.like > span {
        background-image: url("../img/detail_btn_like.png");
        background-size: 11px 12px; }
      /* line 391, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li a.share > span {
        background-image: url("../img/detail_btn_share.png");
        background-size: 12px 12px; }
      /* line 392, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li a.comments > span {
        background-image: url("../img/detail_btn_comments.png");
        background-size: 11px 12px; }
      /* line 393, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-btns li a.popcon > span {
        background-image: url("../img/detail_btn_popcon.png");
        background-size: 12px 13px; }
      @media (min-width: 720px) {
        /* line 396, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-btns li > a {
          font-size: 14px;
          padding: 12px 0; }
        /* line 397, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-btns li span {
          margin-top: 10px;
          padding: 8px 0 8px 40px; }
        /* line 398, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-btns li a.like > span {
          background-size: 23px 25px; }
        /* line 399, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-btns li a.share > span {
          background-size: 25px 24px; }
        /* line 400, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-btns li a.comments > span {
          background-size: 23px 24px; }
        /* line 401, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-btns li a.popcon > span {
          background-size: 25px 26px; } }
  /* line 405, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-list .item .item-content {
    padding: 22px 30px 30px; }
    /* line 406, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-content h1 {
      margin-bottom: 20px;
      font-size: 15px;
      font-family: 'NanumGothicBold', sans-serif; }
    /* line 407, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-content > p {
      margin-top: 10px;
      font-size: 12px;
      line-height: 1.8em; }
      /* line 408, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-content > p :first-child {
        margin: 0; }
    /* line 410, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-content-info {
      position: relative;
      height: 40px;
      margin-top: 25px;
      font-size: 8px; }
      /* line 411, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-content-info::after {
        content: "";
        display: block;
        clear: both; }
      /* line 412, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-content-info .author {
        float: left;
        position: relative; }
        /* line 413, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .author::after {
          content: "";
          display: block;
          clear: both; }
        /* line 414, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .author span {
          float: left; }
        /* line 415, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .author .profile {
          line-height: 0; }
          /* line 416, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .author .profile img {
            width: 15px;
            height: 15px; }
        /* line 418, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .author .name {
          float: left;
          margin-left: 4px;
          padding: 3px 0;
          font-family: 'NanumGothicBold', sans-serif; }
        /* line 419, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .author .date {
          margin-left: 15px;
          padding: 3px 0;
          color: #888; }
        /* line 420, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .author .state {
          margin-left: 4px;
          padding: 3px 0;
          line-height: 0; }
          /* line 421, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .author .state img {
            width: 9px;
            height: 9px; }
      /* line 424, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-content-info .post {
        float: right; }
        /* line 425, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .post::after {
          content: "";
          display: block;
          clear: both; }
        /* line 426, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .post .btns {
          float: left; }
          /* line 427, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns a {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-left: 12px;
            background-repeat: no-repeat;
            background-position: center center; }
            /* line 428, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-content-info .post .btns a:first-child {
              margin-left: 0; }
          /* line 430, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns .btn-report {
            background-image: url("../img/icon_megaphone.png");
            background-size: 11px 11px; }
          /* line 431, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns .btn-modify {
            background-image: url("../img/icon_pencil.png");
            background-size: 11px 11px; }
          /* line 432, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns .btn-delete {
            background-image: url("../img/icon_trash.png");
            background-size: 9px 11px; }
      /* line 435, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-content-info .tags {
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 20px;
        padding: 3px 0 3px 15px;
        background-image: url("../img/icon_tag.png");
        background-repeat: no-repeat;
        background-position: left center;
        color: #888;
        background-size: 12px 13px; }
        /* line 436, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info .tags a {
          color: #888;
          margin-left: 5px; }
    @media (min-width: 720px) {
      #contents.magazine .magazine-list .item .item-content {
        padding: 40px 30px 70px; }
        /* line 440, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content h1 {
          margin-bottom: 40px;
          font-size: 30px; }
        /* line 441, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content > p {
          margin-top: 20px;
          font-size: 20px; }
        /* line 442, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-content-info {
          margin-top: 50px;
          font-size: 16px; }
          /* line 444, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .author .profile > img {
            width: 30px;
            height: 30px; }
          /* line 445, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .author .name {
            margin-left: 8px;
            padding: 7px 0; }
          /* line 446, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .author .date {
            margin-left: 30px;
            padding: 7px 0; }
          /* line 447, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .author .state {
            margin-left: 8px;
            padding: 6px 0; }
            /* line 448, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-content-info .author .state img {
              width: 18px;
              height: 18px; }
          /* line 453, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns a {
            width: 25px;
            height: 25px;
            margin-left: 25px; }
          /* line 454, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns .btn-report {
            background-size: 22px 23px; }
          /* line 455, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns .btn-modify {
            background-size: 22px 23px; }
          /* line 456, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .post .btns .btn-delete {
            background-size: 18px 22px; }
          /* line 459, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-content-info .tags {
            position: relative;
            float: right;
            top: auto;
            left: auto;
            margin-left: 25px;
            padding: 4px 0 5px 30px;
            background-size: 25px 26px; }
            /* line 460, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-content-info .tags a {
              margin-left: 5px; } }
  /* line 465, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.magazine .magazine-list .item .item-comments {
    padding: 20px 10px 30px;
    background: #f7f7f7;
    border-radius: 0 0 4px 4px; }
    /* line 466, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-comments-write {
      position: relative;
      margin-bottom: 20px; }
      /* line 467, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-comments-write > label {
        position: absolute;
        top: 5px;
        color: #919191;
        font-size: 8px; }
      /* line 468, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-comments-write .input-comment {
        margin: 0 110px 0 50px;
        padding: 3px;
        border: 2px solid #c6ccd2;
        border-radius: 2px;
        background: #fff; }
        /* line 469, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-write .input-comment > input[type="text"] {
          width: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 8px; }
      /* line 471, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-comments-write .btn-wrap {
        position: absolute;
        top: 0;
        right: 0; }
        /* line 472, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-write .btn-wrap label {
          color: #888;
          font-size: 8px; }
        /* line 473, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-write .btn-wrap .btn-save {
          display: inline-block;
          width: 47px;
          height: 17px;
          margin-left: 5px;
          background-image: url("../img/btn_save.png");
          background-repeat: no-repeat;
          background-position: center center;
          color: #738695;
          font-size: 7px;
          text-align: center;
          vertical-align: middle; }
    /* line 477, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.magazine .magazine-list .item .item-comments-list > li {
      position: relative;
      padding: 4px 0;
      border-bottom: 1px solid #e1e1e1;
      font-size: 7px; }
      /* line 478, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-comments-list > li .comment-writer {
        position: absolute;
        display: inline-block;
        vertical-align: middle; }
        /* line 479, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-list > li .comment-writer img {
          width: 12px;
          height: 12px;
          vertical-align: middle; }
        /* line 480, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-list > li .comment-writer > a {
          margin-left: 5px;
          color: #529ecc; }
      /* line 482, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-comments-list > li .comment {
        display: inline-block;
        margin-left: 50px;
        margin-right: 130px; }
        /* line 483, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-list > li .comment span {
          display: block;
          line-height: 1.5em; }
      /* line 485, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.magazine .magazine-list .item .item-comments-list > li .info {
        position: absolute;
        top: 12px;
        right: 0;
        color: #888; }
        /* line 486, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-list > li .info .date {
          margin-right: 2px; }
        /* line 487, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-list > li .info .btns {
          line-height: 0; }
          /* line 488, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .info .btns a {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 4px;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center center; }
          /* line 489, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .info .btns .modify {
            background-image: url("../img/icon_pencil-small.png");
            background-size: 7px 7px; }
          /* line 490, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .info .btns .delete {
            background-image: url("../img/icon_trash-small.png");
            background-size: 5px 7px; }
    @media (min-width: 720px) {
      #contents.magazine .magazine-list .item .item-comments {
        padding: 40px 60px 100px;
        border-radius: 0 0 4px 4px; }
        /* line 496, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-write {
          margin-bottom: 40px; }
          /* line 497, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-write > label {
            top: 10px;
            font-size: 16px; }
          /* line 498, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-write .input-comment {
            margin: 0 188px 0 100px;
            padding: 6px;
            border-radius: 5px; }
            /* line 499, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-comments-write .input-comment > input[type="text"] {
              font-size: 16px; }
          /* line 502, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-write .btn-wrap label {
            font-size: 16px; }
          /* line 503, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-write .btn-wrap .btn-save {
            width: 94px;
            height: 35px;
            margin-left: 10px;
            font-size: 14px;
            background-size: 94px 32px; }
        /* line 507, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.magazine .magazine-list .item .item-comments-list > li {
          padding: 8px 0;
          font-size: 14px; }
          /* line 509, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .comment-writer img {
            width: 25px;
            height: 25px; }
          /* line 510, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .comment-writer > a {
            margin-left: 10px; }
          /* line 512, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .comment {
            margin-left: 100px;
            margin-right: 200px; }
          /* line 513, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.magazine .magazine-list .item .item-comments-list > li .info {
            top: 12px; }
            /* line 514, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-comments-list > li .info .date {
              margin-right: 5px; }
            /* line 516, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-comments-list > li .info .btns a {
              width: 16px;
              height: 16px;
              margin-left: 8px; }
            /* line 517, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-comments-list > li .info .btns .modify {
              background-size: 14px 14px; }
            /* line 518, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.magazine .magazine-list .item .item-comments-list > li .info .btns .delete {
              background-size: 11px 14px; } }

/* line 529, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.conbox > article.conbox {
  margin: 0 5px;
  border-radius: 5px;
  background: #fff; }
  /* line 530, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.conbox > article.conbox .conbox-wrap {
    padding: 30px 20px; }
/* line 532, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.conbox .conbox-profile {
  position: relative;
  margin: 0 10px 32px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e4e4e4; }
  /* line 533, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.conbox .conbox-profile .user {
    width: 380px; }
    /* line 534, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-profile .user-photo {
      position: absolute;
      overflow: hidden;
      width: 64px;
      height: 64px;
      border-radius: 32px; }
    /* line 535, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-profile .user-info {
      margin-left: 80px; }
      /* line 536, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-profile .user-info-wrap {
        overflow: hidden; }
        /* line 537, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-profile .user-info-wrap .name {
          font-size: 22px;
          font-family: 'NanumGothicBold', sans-serif; }
        /* line 538, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-profile .user-info-wrap .sns-wrap {
          margin-left: 10px;
          font-size: 0; }
          /* line 539, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.conbox .conbox-profile .user-info-wrap .sns-wrap a {
            margin-left: 10px; }
      /* line 542, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-profile .user-info .desc {
        margin-top: 10px;
        font-size: 14px;
        color: #888;
        line-height: 1.5em; }
  /* line 545, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.conbox .conbox-profile .category {
    position: absolute;
    top: 0;
    right: 0;
    width: 156px;
    height: 32px;
    color: #b8c1c9;
    line-height: 1em;
    border: 2px solid #c6ccd2;
    border-radius: 4px;
    background-image: url(../img/kbox_bg_selectbox.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 11px 7px; }
    /* line 546, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-profile .category label {
      display: block;
      overflow: hidden;
      margin: 8px 10px;
      color: #777;
      text-overflow: ellipsis;
      white-space: nowrap; }
    /* line 547, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-profile .category select {
      position: absolute;
      top: 8px;
      width: 140px;
      opacity: 0;
      filter: alpha(opacity=0);
      /* IE 8 */ }
/* line 551, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.conbox .conbox-list {
  width: 100%;
  max-width: 990px;
  margin: 0 5px; }
  /* line 552, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.conbox .conbox-list::after {
    content: "";
    display: block;
    clear: both; }
  /* line 554, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.conbox .conbox-list .item {
    position: relative;
    width: 50%;
    margin-bottom: 10px; }
    @media (min-width: 720px) {
      #contents.conbox .conbox-list .item {
        width: 25%; } }
    /* line 557, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-list .item-wrap {
      background: #fff;
      margin: 0 5px;
      border: 1px solid #b7b7b7;
      border-radius: 5px; }
    /* line 558, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-list .item-header {
      padding: 10px; }
      /* line 559, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-header .author {
        position: relative;
        height: 30px; }
        /* line 560, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-header .author .profile {
          position: absolute;
          left: 0;
          vertical-align: middle;
          line-height: 0; }
        /* line 561, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-header .author .name {
          display: block;
          overflow: hidden;
          padding: 8px 0;
          margin-left: 35px;
          margin-right: 18px;
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 562, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-header .author .state {
          display: block;
          position: absolute;
          top: 6px;
          right: 0;
          width: 18px;
          height: 18px;
          font-size: 0;
          line-height: 0; }
        /* line 564, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-header .author::after {
          content: "";
          display: block;
          clear: both; }
      /* line 566, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-header .description {
        position: relative;
        padding: 5px 0;
        font-size: 11px;
        color: #888; }
        /* line 567, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-header .description span:first-child {
          display: block;
          overflow: hidden;
          margin-right: 60px;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 568, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-header .description .date {
          position: absolute;
          top: 6px;
          right: 0; }
    /* line 571, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-list .item-view {
      padding: 0 10px 10px 10px; }
      /* line 572, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-view p {
        font-size: 13px;
        color: #888;
        line-height: 18px; }
      /* line 573, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-view img, #contents.conbox .conbox-list .item-view audio, #contents.conbox .conbox-list .item-view video, #contents.conbox .conbox-list .item-view object {
        max-width: 100% !important; }
      /* line 574, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-view object {
        display: block; }
    /* line 577, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-list .item-footer {
      position: relative;
      border-top: 1px solid #e4e4e4; }
      /* line 578, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-footer::after {
        content: "";
        display: block;
        clear: both; }
      /* line 579, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.conbox .conbox-list .item-footer > a {
        display: block;
        float: left;
        width: 25%; }
        /* line 580, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a:first-child span {
          border: 0; }
        /* line 581, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a span {
          display: block;
          padding: 30px 0 7px;
          font-size: 11px;
          text-align: center;
          color: #b2b2b2;
          border-left: 1px solid #e4e4e4;
          background-repeat: no-repeat;
          background-position: center 7px; }
        /* line 583, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.like > span {
          background-image: url(../img/item_btn_like.png); }
        /* line 584, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.like.active > span {
          background-image: url(../img/item_btn_like-on.png); }
        /* line 585, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.share > span {
          background-image: url(../img/item_btn_share.png); }
        /* line 586, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.share.active > span {
          background-image: url(../img/item_btn_share-on.png); }
        /* line 587, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.pop > span {
          background-image: url(../img/item_btn_popcon.png); }
        /* line 588, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.pop.active > span {
          background-image: url(../img/item_btn_popcon-on.png); }
        /* line 589, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.comments > span {
          background-image: url(../img/item_btn_comment.png); }
        /* line 590, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.conbox .conbox-list .item-footer > a.comments.active > span {
          background-image: url(../img/item_btn_comment-on.png); }
    /* line 594, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.conbox .conbox-list .item.text .item-view {
      padding: 10px;
      border-top: 1px solid #e4e4e4; }

/* line 600, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
#contents.setting .setting {
  margin: 0 5px;
  border-radius: 5px;
  background: #fff; }
  /* line 601, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.setting .setting-wrap {
    padding: 24px 30px; }
  /* line 602, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.setting .setting-header {
    padding-bottom: 15px; }
    /* line 603, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.setting .setting-header h1 {
      display: inline-block;
      font-size: 22px;
      font-family: 'NanumGothicBold', sans-serif;
      vertical-align: middle; }
    /* line 604, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.setting .setting-header .point {
      display: inline-block;
      margin-left: 38px;
      padding: 3px 0 3px 25px;
      font-family: 'NanumGothicBold', sans-serif;
      background-image: url("../img/icon_point.png");
      background-repeat: no-repeat;
      background-size: 19px 18px;
      background-position: left center; }
    /* line 605, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.setting .setting-header .btn_info {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon_info.png");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center center;
      vertical-align: middle; }
  /* line 607, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.setting .setting-content {
    position: relative;
    padding: 24px 10px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px; }
    /* line 609, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.setting .setting-content > .profile {
      position: absolute;
      width: 200px;
      text-align: center; }
      /* line 610, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.setting .setting-content > .profile .photo {
        overflow: hidden;
        width: 198px;
        height: 178px;
        border-radius: 5px; }
        /* line 611, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .profile .photo.blank {
          background-image: url("../img/blank_profile_male.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-color: #eff3f7;
          border: 2px dotted #d4e2ed; }
      /* line 613, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.setting .setting-content > .profile .btn {
        display: inline-block;
        overflow: hidden;
        width: 94px;
        height: 32px;
        margin-top: 10px;
        background-image: url("../img/setting_btn_file.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 94px 32px;
        cursor: pointer; }
        /* line 614, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .profile .btn input {
          margin-left: -80px;
          font-size: 30px;
          opacity: 0;
          cursor: pointer; }
    /* line 617, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.setting .setting-content > .info {
      margin-left: 250px; }
      /* line 618, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.setting .setting-content > .info dl {
        position: relative;
        height: 36px;
        padding: 10px 0;
        border-top: 1px solid #efefef; }
        /* line 619, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info dl:first-child {
          padding-top: 0;
          border-top: none; }
          /* line 620, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info dl:first-child dt {
            top: 0; }
        /* line 622, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info dl > dt {
          position: absolute;
          top: 20px;
          color: #919191; }
        /* line 623, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info dl > dd {
          margin-left: 130px;
          color: #000; }
          /* line 624, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info dl > dd .input-wrap {
            position: relative;
            height: 16px;
            padding: 7px 10px 8px;
            border: 2px solid #c6ccd2;
            border-radius: 5px; }
            /* line 625, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
            #contents.setting .setting-content > .info dl > dd .input-wrap input[type='text'] {
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
              border: 0;
              background: none;
              color: #777;
              font-size: 16px; }
        /* line 629, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info dl.id .btn {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 134px;
          height: 32px;
          background-image: url('../img/setting_btn_pwchange.png');
          background-repeat: no-repeat;
          background-size: 134px 32px; }
        /* line 632, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info dl.state dd {
          padding: 10px 0; }
          /* line 634, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info dl.state dd .state-icon img {
            margin-left: 10px;
            vertical-align: middle; }
        /* line 639, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info dl.mail dd {
          padding: 8px 0; }
          /* line 640, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info dl.mail dd .radio1 {
            margin-right: 40px; }
      /* line 644, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.setting .setting-content > .info .dl-column {
        font-size: 0; }
        /* line 645, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        #contents.setting .setting-content > .info .dl-column dl {
          display: inline-block;
          position: relative;
          width: 50%;
          font-size: 16px;
          border-top: 1px solid #efefef; }
          /* line 646, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info .dl-column dl:first-child {
            padding: 10px 0; }
          /* line 647, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info .dl-column dl dt {
            position: absolute;
            top: 20px;
            scolor: #919191; }
          /* line 648, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          #contents.setting .setting-content > .info .dl-column dl dd {
            margin-left: 130px;
            padding: 10px 0;
            color: #000; }
  /* line 653, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  #contents.setting .setting-footer {
    padding: 22px 0 50px;
    text-align: center; }
    /* line 654, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    #contents.setting .setting-footer .setting-btn {
      display: inline-block;
      width: 120px;
      padding: 8px 0;
      margin: 0 6px;
      border: 1px solid #a6abae;
      border-radius: 5px;
      background: #bdc3c7;
      color: #fff;
      font-size: 14px; }
      /* line 655, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      #contents.setting .setting-footer .setting-btn.save {
        border: 1px solid #488ab2;
        background: #529ecc; }

/* line 665, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
.pop-menu.active {
  display: block; }
/* line 666, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
.pop-menu.user {
  top: 20px;
  left: 17px; }
/* line 667, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
.pop-menu.comment-user {
  top: 15px;
  left: 17px; }
/* line 668, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
.pop-menu.popcon {
  top: 15px;
  left: 64px; }
@media (min-width: 720px) {
  /* line 670, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  .pop-menu.user {
    top: 30px;
    left: 35px; }
  /* line 671, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  .pop-menu.comment-user {
    top: 30px;
    left: 35px; }
  /* line 672, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  .pop-menu.popcon {
    top: 30px;
    left: 128px; } }

/* line 677, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
.wide-visual {
  overflow: hidden;
  margin: 30px 0; }

/* line 678, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
.main-visual {
  position: relative;
  width: 100%;
  height: 102px; }
  /* line 679, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  .main-visual .bx-wrapper {
    height: 102px; }
  /* line 680, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  .main-visual ul {
    height: 102px;
    border-radius: 5px; }
    /* line 681, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    .main-visual ul li {
      height: 100%;
      line-height: 0; }
      /* line 682, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual ul li img {
        width: 100%;
        height: 100%; }
  /* line 685, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
  .main-visual .bx-controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%; }
    /* line 686, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    .main-visual .bx-controls .bx-pager {
      position: absolute;
      bottom: 7px;
      width: 100%;
      text-align: center; }
      /* line 688, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        /* line 689, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        .main-visual .bx-controls .bx-pager .bx-pager-item a {
          display: block;
          width: 6px;
          height: 6px;
          padding: 0 1px;
          font-size: 0;
          line-height: 0;
          text-indent: -9999px;
          background-image: url("../img/mainvisual_indicator.png");
          background-repeat: no-repeat;
          background-size: 6px 6px; }
          /* line 690, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          .main-visual .bx-controls .bx-pager .bx-pager-item a.active {
            background-image: url("../img/mainvisual_indicator-selected.png"); }
    /* line 695, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
    .main-visual .bx-controls .bx-controls-direction a {
      position: absolute;
      top: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px; }
      /* line 696, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual .bx-controls .bx-controls-direction a.bx-prev {
        left: 10px;
        background-image: url("../img/mainvisual_btn_prev.png"); }
      /* line 697, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual .bx-controls .bx-controls-direction a.bx-next {
        right: 10px;
        background-image: url("../img/mainvisual_btn_next.png"); }
  @media (min-width: 720px) {
    .main-visual {
      float: left;
      width: 100%;
      height: 204px; }
      /* line 702, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual .bx-wrapper {
        height: 204px;
        margin: 0 5px; }
      /* line 703, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual ul {
        height: 204px; }
        /* line 704, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        .main-visual ul li {
          overflow: hidden;
          border-radius: 5px; }
          /* line 705, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
          .main-visual ul li img {
            width: 100%;
            height: auto; }
      /* line 709, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual .bx-controls .bx-pager {
        bottom: 14px; }
        /* line 712, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        .main-visual .bx-controls .bx-pager .bx-pager-item a {
          width: 11px;
          height: 11px;
          padding: 0 3px;
          background-size: 11px 11px; }
      /* line 716, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
      .main-visual .bx-controls .bx-controls-direction a {
        width: 48px;
        height: 48px;
        margin-top: -24px;
        background-size: 48px 48px; }
        /* line 717, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        .main-visual .bx-controls .bx-controls-direction a.bx-prev {
          left: 25px; }
        /* line 718, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/main.scss */
        .main-visual .bx-controls .bx-controls-direction a.bx-next {
          right: 25px; } }

/*# sourceMappingURL=main.css.map */