//반응형웹 브레이크포인트
$breakpoints: (
  'narrow': (min-width: 320px),
  'medium': (min-width: 720px),
  'wide': (min-width: 1200px),
);

//반응형웹 브레이크포인트 매니저
//@include respond-to('medium'){} 형태로 선언
@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}@else{
		@error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
	}
}

//변수선언
$font-weight-normal: 'NanumGothic', sans-serif;
$font-weight-bold: 'NanumGothicBold', sans-serif;

//레이아웃 스타일
#contents{width: 100%;margin: 0 auto;
	@include respond-to('medium'){width: 1000px;}
	
	>.wrap{padding:5px 0;
		@include respond-to('medium'){padding: 0;}
		
		&-upper{overflow: hidden;padding: 5px;
			@include respond-to('medium'){margin: 28px 0;padding: 0;}
		}
		&-lower{overflow: hidden;position: relative;
		}
		article{
			&.main-visual{
				@include respond-to('medium'){float: left;width: 75%;}
			}
			&.feed{display: none;float: left;width: 25%;
				@include respond-to('medium'){display: block;}
				
				ul{margin:0 5px;height: 204px;background: #9dabb6;border-radius: 5px;
					li{
						a{display: block;position: relative;padding: 17px 20px 17px 70px;border-top: 1px solid #3a566c;color: #335170;background-repeat: no-repeat;background-position: 24px center;
							span{display:block;position:absolute;top:14px;right: 20px;width: 48px;padding: 5px 0;border: 1px solid #c1cad1;border-radius: 25px; background: #758494;color: #fff; font-size: 12px;text-align: center;}
						}
						&:first-child>a{border: 0;}
						&.like>a{background-image: url('../img/main_feed_like.png');}
						&.sns>a{background-image: url('../img/main_feed_sns.png');}
						&.pop>a{background-image: url('../img/main_feed_pop.png');}
						&.comments>a{background-image: url('../img/main_feed_comments.png');}
					}
				}
			}
			&.popular-search{display: none;position: absolute;right: 0;z-index: 10; width: 25%;color: #e0e0e0;font-size: 14px;
				@include respond-to('medium'){display: block;}
				
				.popular-search-wrap{margin: 0 5px;
					h1{padding: 10px;border-bottom: 1px solid #758998;color: #fff;font-size: 16px;}
					ol{counter-reset:section;

						li{padding: 10px;border-top:1px solid #758998;

							&:before{counter-increment: section;content: counters(section,".")".";margin-right: 14px; font-weight: bold;}
						}
					}
				}
			}
		}
	}
	#grid{
		.item{position:relative;float: left;width: 50%;margin-bottom: 10px;
			@include respond-to('medium'){width: 25%;}
			
			&-wrap{background: #fff;margin:0 5px;border-radius: 5px;}
			&-header{padding: 10px;
				.author{position: relative;height: 30px;
					.profile{position: absolute;left:0;vertical-align: middle;line-height: 0;}
					.name{display:block;overflow: hidden;padding: 8px 0;margin-left: 35px;margin-right: 18px; font-size:14px;font-weight: bold;vertical-align: middle;text-overflow: ellipsis; white-space: nowrap;}
					.state{display: block;position:absolute;top:6px;right:0;width: 18px;height: 18px;font-size: 0;line-height: 0;
					}
					&::after{content: "";display: block;clear: both;}
				}
				.description{position:relative;padding: 5px 0;font-size: 11px;color: #888;
					span:first-child{display: block;overflow: hidden;margin-right: 60px;text-overflow: ellipsis; white-space: nowrap;}
					.date{position: absolute;top:6px;right: 0;}
				}
			}
			&-view{padding:0 10px 10px 10px;
				p{display: block;height: 100%;font-size: 13px;color: #888;line-height: 18px;}
				img,audio,video,object{max-width: 100% !important;}
				object{display: block;}
			}
			&-footer{position: relative;border-top: 1px solid #e4e4e4;
				&::after{content:"";display: block;clear: both;}
				>a{display: block;float: left;width: 25%;
					&:first-child span{border:0;}
					span{display: block;padding: 30px 0 7px;font-size: 11px; text-align: center;color: #b2b2b2;border-left: 1px solid #e4e4e4;background-repeat: no-repeat;background-position: center 7px;
					}
					&.like>span{background-image: url(../img/item_btn_like.png);}
					&.like.active>span{background-image: url(../img/item_btn_like-on.png);}
					&.share>span{background-image: url(../img/item_btn_share.png);}
					&.share.active>span{background-image: url(../img/item_btn_share-on.png);}
					&.pop>span{background-image: url(../img/item_btn_popcon.png);}
					&.pop.active>span{background-image: url(../img/item_btn_popcon-on.png);}
					&.comments>span{background-image: url(../img/item_btn_comment.png);}
					&.comments.active>span{background-image: url(../img/item_btn_comment-on.png);}
				}
			}
			
			&.text .item-view{padding: 10px;border-top:1px solid #e4e4e4;}
			&.add_margin{margin-top:0;
				@include respond-to('medium'){margin-top:217px}
			}
		}
	}
}
#footer{}

//컨텐츠 스타일
#detail{margin:5px;background: #fff;border-radius: 5px;
	@include respond-to('medium'){margin: 28px 5px;}
	.detail-photo{padding: 10px;
		@include respond-to('medium'){padding: 20px;}
		img{max-width: 100%}
	}
	.detail-btns{overflow: hidden;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;
		li{float: left;width: 25%;
			>a{display: block;padding: 6px 0;border-left: 1px solid #e1e1e1;font-size: 7px;text-align: center;}
			&:first-child>a{border:0;}
			em{display: block;font-family:$font-weight-bold;}
			span{display: inline-block;margin-top:5px;padding: 4px 0 4px 20px; color: #777b81;background-repeat: no-repeat;background-position: left center;}
			a.like>span{background-image: url("../img/detail_btn_like.png");background-size: 11px 12px;}
			a.share>span{background-image: url("../img/detail_btn_share.png");background-size: 12px 12px;}
			a.comments>span{background-image: url("../img/detail_btn_comments.png");background-size: 11px 12px;}
			a.popcon>span{background-image: url("../img/detail_btn_popcon.png");background-size: 12px 13px;}
			
			@include respond-to('medium'){
				>a{font-size: 14px;padding: 12px 0;}
				span{margin-top:10px;padding: 8px 0 8px 40px;}
				a.like>span{background-size: 23px 25px;}
				a.share>span{background-size: 25px 24px;}
				a.comments>span{background-size: 23px 24px;}
				a.popcon>span{background-size: 25px 26px;}
			}
		}
	}
	.detail-content{padding:22px 30px 30px;
		h1{margin-bottom: 20px; font-size:15px;font-family: $font-weight-bold;}
		>p{margin-top:10px;font-size: 12px;line-height: 1.8em;
			:first-child{margin:0;}
		}
		&-info{position: relative;height: 40px;margin-top:25px;font-size: 8px;
			&::after{content: "";display: block;clear: both;}
			.author{float: left;position: relative;
				&::after{content: "";display: block;clear: both;}
				span{float: left;}
				.profile{line-height: 0;
					img{width: 15px;height: 15px;}
				}
				.name{float: left;margin-left: 4px;padding:3px 0; font-family: $font-weight-bold;}
				.date{margin-left: 15px;padding:3px 0;color: #888;}
				.state{margin-left: 4px; padding:3px 0;line-height: 0;
					img{width: 9px;height: 9px;}
				}
			}
			.post{float: right;
				&::after{content: "";display: block;clear: both;}
				.btns{float: left;
					a{display: inline-block;width: 12px;height: 12px;margin-left: 12px; background-repeat: no-repeat;background-position: center center;
						&:first-child{margin-left: 0;}
					}
					.btn-report{background-image: url("../img/icon_megaphone.png");background-size: 11px 11px;}
					.btn-modify{background-image: url("../img/icon_pencil.png");background-size: 11px 11px;}
					.btn-delete{background-image: url("../img/icon_trash.png");background-size: 9px 11px;}
				}
			}
			.tags{display: inline-block;position:absolute;top:25px;left:20px;padding:3px 0 3px 15px;background-image: url("../img/icon_tag.png");background-repeat: no-repeat;background-position: left center;color: #888;background-size: 12px 13px;
				a{color: #888;margin-left: 5px;}
			}
		}
		@include respond-to('medium'){padding:45px 60px 60px;
			h1{margin-bottom: 40px;font-size: 30px;}
			>p{margin-top:20px;font-size: 20px}
			&-info{margin-top:50px;font-size: 16px;
				.author{
					.profile>img{width: 30px;height: 30px;}
					.name{margin-left: 8px;padding:7px 0;}
					.date{margin-left: 30px;padding:7px 0;}
					.state{margin-left: 8px; padding:6px 0;
						img{width: 18px;height: 18px;}
					}
				}
				.post{
					.btns{
						a{width: 25px;height: 25px;margin-left: 25px;}
						.btn-report{background-size: 22px 23px;}
						.btn-modify{background-size: 22px 23px;}
						.btn-delete{background-size: 18px 22px;}
					}
				}
				.tags{position: relative;float: right;top: auto;left:auto;margin-left: 25px; padding:4px 0 5px 30px;background-size: 25px 26px;
					a{margin-left: 5px;}
				}
			}
		}
	}
	.detail-comments{padding: 20px 10px 30px;background: #f7f7f7;border-radius: 0 0 4px 4px;
		&-write{position: relative;margin-bottom: 20px;
			>label{position:absolute;top:5px;color: #919191;font-size: 8px;}
			.input-comment{margin: 0 110px 0 50px;padding: 3px;border:2px solid #c6ccd2;border-radius:2px;background: #fff;
				>input[type="text"]{width: 100%;margin: 0;padding: 0;border: 0;font-size: 8px;}
			}
			.btn-wrap{position: absolute;top:0;right: 0;
				label{color: #888;font-size: 8px;}
				.btn-save{display: inline-block;width: 47px;height: 17px;margin-left: 5px; background-image: url("../img/btn_save.png");background-repeat:no-repeat;background-position: center center;color: #738695;font-size: 7px;text-align: center;vertical-align: middle;}
			}
		}
		&-list{
			>li{position: relative;padding: 4px 0;border-bottom: 1px solid #e1e1e1;font-size: 7px;
				.comment-writer{position: absolute;display: inline-block;vertical-align:middle;
					img{width: 12px;height: 12px;vertical-align:middle;}
					>a{margin-left:5px;color: #529ecc;}
				}
				.comment{display: inline-block;margin-left: 50px;margin-right: 130px;
					span{display: block;line-height: 1.5em;}
				}
				.info{position: absolute;top:12px;right: 0;color: #888;
					.date{margin-right: 2px;}
					.btns{line-height: 0;
						a{display: inline-block;width: 8px;height: 8px;margin-left: 4px; vertical-align:middle;background-repeat: no-repeat;background-position: center center;}
						.modify{background-image: url("../img/icon_pencil-small.png");background-size: 7px 7px;}
						.delete{background-image: url("../img/icon_trash-small.png");background-size: 5px 7px;}
					}
				}
			}
		}
		@include respond-to('medium'){padding: 40px 60px 100px;border-radius: 0 0 4px 4px;
			&-write{margin-bottom: 40px;
				>label{top:10px;font-size: 16px}
				.input-comment{margin: 0 188px 0 100px;padding: 6px;border-radius:5px;
					>input[type="text"]{font-size: 16px;}
				}
				.btn-wrap{
					label{font-size: 16px}
					.btn-save{width: 94px;height: 35px;margin-left: 10px;font-size: 14px;background-size: 94px 32px;}
				}
			}
			&-list{
				>li{padding: 8px 0;font-size: 14px;
					.comment-writer{
						img{width: 25px;height: 25px;}
						>a{margin-left:10px;}
					}
					.comment{margin-left: 100px;margin-right: 200px;}
					.info{top:12px;
						.date{margin-right: 5px;}
						.btns{
							a{width: 16px;height: 16px;margin-left: 8px;}
							.modify{background-size: 14px 14px;}
							.delete{background-size: 11px 14px;}
						}
					}
				}
			}
		}
	}
}
#contents.kbox{
	>article.kbox{margin: 0 5px;border-radius: 5px;background: #fff;
		.kbox-wrap{padding: 30px 20px;}
	}
	.kbox-profile{position: relative;margin:0 10px;
		.user{width: 380px;
			&-photo{position:absolute;overflow: hidden;width: 64px;height: 64px;border-radius: 32px;}
			&-info{margin-left: 80px;
				&-wrap{overflow: hidden;
					.name{font-size: 22px;font-family: $font-weight-bold;}
					.sns-wrap{margin-left: 10px; font-size: 0;
						a{margin-left: 10px;}
					}
				}
				.desc{margin-top: 10px;font-size: 14px;color: #888;line-height: 1.5em;}
			}
		}
		.category{position:absolute;top:0;right:0;width: 156px;height: 32px;color: #b8c1c9;line-height: 1em;border:2px solid #c6ccd2;border-radius: 4px; background-image: url(../img/kbox_bg_selectbox.png);background-repeat: no-repeat;background-position: right 10px center;background-size: 11px 7px;
			label{display: block;overflow: hidden;margin:8px 10px;color: #777; text-overflow: ellipsis; white-space: nowrap;}
			select{position:absolute;top:8px;width: 140px;opacity: 0;filter: alpha(opacity=0);/* IE 8 */
			}
		}
		.btns{margin:60px 0 42px;border-top:1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;font-size: 0;text-align: center;
			a{display: inline-block;width: 120px;padding: 42px 0 10px;text-align: center;font-size: 12px;color: #7f8c8d;background-repeat: no-repeat;background-position: center 10px;
				&.like{background-image: url(../img/kbox_btn_like.png);background-size: 22px 25px;}
				&.share{background-image: url(../img/kbox_btn_share.png);background-size: 24px 23px;}
				&.popcon{background-image: url(../img/kbox_btn_popcon.png);background-size: 24px 25px;}
				&.comments{background-image: url(../img/kbox_btn_comment.png);background-size: 21px 23px;}
				&.follower{background-image: url(../img/kbox_btn_follower.png);background-size: 20px 27px;}
			}
		}
	}
	.kbox-list{
		&::after{content: '';display: block;clear: both;}
		&-item{float: left;width: 25%;
			&.first-item{
				a{display: block;height: 288px;margin:6px 10px;border:2px dotted #d2e1ec;border-radius: 5px;background: #eff3f7;background-image: url("../img/kbox_btn_addItem.png");background-repeat: no-repeat;background-position: center center;}
			}
			.item{
				height: 274px;padding: 8px;margin:6px 10px;border:1px solid #bfbfbf;border-radius: 5px;
				&-header>h1{padding: 6px 6px 12px 6px;font-family: $font-weight-bold;}
				&-preview{margin-bottom: 8px;
					.layout{
						.thumbnail{display: block;overflow: hidden;border:1px solid #bfbfbf;border-radius: 4px;
							img{width: 100%;height: 100%;}
						}
						&-top{
							.thumbnail{height: 130px;}
						}
						&-bottom{overflow: hidden;margin-top:5px;
							.thumbnail-column{display:block;float: left;width: 33.3%;}
							.thumbnail{height: 60px;margin-left: 5px;}
							.thumbnail-column:first-child>span{margin: 0;}
						}
					}
				}
				&-footer{
					.item-btn{display: block;background-repeat: no-repeat;background-position: center center;
						&.edit{width: 200px;height: 32px;margin:0 auto;background-image: url("../img/kbox_btn_edit.png");background-size:200px 32px;}
					}
				}
			}
			&.new{text-align: center;
				.item{
					&-header{
						.input-wrap{margin: 4px 2px;padding: 8px 10px;border:2px solid #c6ccd2;border-radius: 4px;color: #777;}
						input[type="text"]{display:block;width: 100%;margin: 0;padding: 0;border: 0;}
					}
					&-preview{position: relative;height: 170px;margin-bottom: 25px;
						.secret-wrap{position: absolute;bottom:0;width: 100%;text-align: center;
							label{color: #888;}
						}
					}
					&-footer{overflow: hidden;
						.item-btn{float: left;width: 50%;height: 32px;background-repeat: no-repeat;background-position: center center;
							&.ok{background-image: url("../img/kbox_btn_ok.png");}
							&.cancel{background-image: url("../img/kbox_btn_cancel.png");}
						}
					}
				}
			}
		}
	}
}
#contents.magazine{
	>article.magazine{background:none;margin: 0 5px;
		.profile-wrap{padding: 30px 20px 0 20px;background: #fff;border-radius: 5px 5px 0 0;}
	}
	.magazine-profile{position: relative;margin:0 10px;padding-bottom: 30px;border-bottom: 1px solid #e4e4e4;
		.user{width: 380px;
			&-photo{position:absolute;overflow: hidden;width: 64px;height: 64px;border-radius: 32px;}
			&-info{margin-left: 80px;
				&-wrap{overflow: hidden;
					.name{font-size: 22px;font-family: $font-weight-bold;}
					.sns-wrap{margin-left: 10px; font-size: 0;
						a{margin-left: 10px;}
					}
				}
				.desc{margin-top: 10px;font-size: 14px;color: #888;line-height: 1.5em;}
			}
		}
		.category{position:absolute;top:0;right:0;width: 156px;height: 32px;color: #b8c1c9;line-height: 1em;border:2px solid #c6ccd2;border-radius: 4px; background-image: url(../img/kbox_bg_selectbox.png);background-repeat: no-repeat;background-position: right 10px center;background-size: 11px 7px;
			label{display: block;overflow: hidden;margin:8px 10px;color: #777; text-overflow: ellipsis; white-space: nowrap;}
			select{position:absolute;top:8px;width: 140px;opacity: 0;filter: alpha(opacity=0);/* IE 8 */
			}
		}
	}
	.magazine-list{
		.item{background: #fff;margin-top: 2px;padding: 35px 30px;
			&:first-child{margin: 0;}
			.item-photo{padding: 10px;font-size: 0;
				@include respond-to('medium'){padding: 0;}
				img{max-width: 100%;}
			}
			.item-btns{overflow: hidden;border:1px solid #e1e1e1;margin-top:30px;
				li{float: left;width: 25%;
					>a{display: block;padding: 6px 0;border-left: 1px solid #e1e1e1;font-size: 7px;text-align: center;}
					&:first-child>a{border:0;}
					em{display: block;font-family:$font-weight-bold;}
					span{display: inline-block;margin-top:5px;padding: 4px 0 4px 20px; color: #777b81;background-repeat: no-repeat;background-position: left center;}
					a.like>span{background-image: url("../img/detail_btn_like.png");background-size: 11px 12px;}
					a.share>span{background-image: url("../img/detail_btn_share.png");background-size: 12px 12px;}
					a.comments>span{background-image: url("../img/detail_btn_comments.png");background-size: 11px 12px;}
					a.popcon>span{background-image: url("../img/detail_btn_popcon.png");background-size: 12px 13px;}

					@include respond-to('medium'){
						>a{font-size: 14px;padding: 12px 0;}
						span{margin-top:10px;padding: 8px 0 8px 40px;}
						a.like>span{background-size: 23px 25px;}
						a.share>span{background-size: 25px 24px;}
						a.comments>span{background-size: 23px 24px;}
						a.popcon>span{background-size: 25px 26px;}
					}
				}
			}
			.item-content{padding:22px 30px 30px;
				h1{margin-bottom: 20px; font-size:15px;font-family: $font-weight-bold;}
				>p{margin-top:10px;font-size: 12px;line-height: 1.8em;
					:first-child{margin:0;}
				}
				&-info{position: relative;height: 40px;margin-top:25px;font-size: 8px;
					&::after{content: "";display: block;clear: both;}
					.author{float: left;position: relative;
						&::after{content: "";display: block;clear: both;}
						span{float: left;}
						.profile{line-height: 0;
							img{width: 15px;height: 15px;}
						}
						.name{float: left;margin-left: 4px;padding:3px 0; font-family: $font-weight-bold;}
						.date{margin-left: 15px;padding:3px 0;color: #888;}
						.state{margin-left: 4px; padding:3px 0;line-height: 0;
							img{width: 9px;height: 9px;}
						}
					}
					.post{float: right;
						&::after{content: "";display: block;clear: both;}
						.btns{float: left;
							a{display: inline-block;width: 12px;height: 12px;margin-left: 12px; background-repeat: no-repeat;background-position: center center;
								&:first-child{margin-left: 0;}
							}
							.btn-report{background-image: url("../img/icon_megaphone.png");background-size: 11px 11px;}
							.btn-modify{background-image: url("../img/icon_pencil.png");background-size: 11px 11px;}
							.btn-delete{background-image: url("../img/icon_trash.png");background-size: 9px 11px;}
						}
					}
					.tags{display: inline-block;position:absolute;top:25px;left:20px;padding:3px 0 3px 15px;background-image: url("../img/icon_tag.png");background-repeat: no-repeat;background-position: left center;color: #888;background-size: 12px 13px;
						a{color: #888;margin-left: 5px;}
					}
				}
				@include respond-to('medium'){padding:40px 30px 70px;
					h1{margin-bottom: 40px;font-size: 30px;}
					>p{margin-top:20px;font-size: 20px}
					&-info{margin-top:50px;font-size: 16px;
						.author{
							.profile>img{width: 30px;height: 30px;}
							.name{margin-left: 8px;padding:7px 0;}
							.date{margin-left: 30px;padding:7px 0;}
							.state{margin-left: 8px; padding:6px 0;
								img{width: 18px;height: 18px;}
							}
						}
						.post{
							.btns{
								a{width: 25px;height: 25px;margin-left: 25px;}
								.btn-report{background-size: 22px 23px;}
								.btn-modify{background-size: 22px 23px;}
								.btn-delete{background-size: 18px 22px;}
							}
						}
						.tags{position: relative;float: right;top: auto;left:auto;margin-left: 25px; padding:4px 0 5px 30px;background-size: 25px 26px;
							a{margin-left: 5px;}
						}
					}
				}
			}
			.item-comments{padding: 20px 10px 30px;background: #f7f7f7;border-radius: 0 0 4px 4px;
				&-write{position: relative;margin-bottom: 20px;
					>label{position:absolute;top:5px;color: #919191;font-size: 8px;}
					.input-comment{margin: 0 110px 0 50px;padding: 3px;border:2px solid #c6ccd2;border-radius:2px;background: #fff;
						>input[type="text"]{width: 100%;margin: 0;padding: 0;border: 0;font-size: 8px;}
					}
					.btn-wrap{position: absolute;top:0;right: 0;
						label{color: #888;font-size: 8px;}
						.btn-save{display: inline-block;width: 47px;height: 17px;margin-left: 5px; background-image: url("../img/btn_save.png");background-repeat:no-repeat;background-position: center center;color: #738695;font-size: 7px;text-align: center;vertical-align: middle;}
					}
				}
				&-list{
					>li{position: relative;padding: 4px 0;border-bottom: 1px solid #e1e1e1;font-size: 7px;
						.comment-writer{position: absolute;display: inline-block;vertical-align:middle;
							img{width: 12px;height: 12px;vertical-align:middle;}
							>a{margin-left:5px;color: #529ecc;}
						}
						.comment{display: inline-block;margin-left: 50px;margin-right: 130px;
							span{display: block;line-height: 1.5em;}
						}
						.info{position: absolute;top:12px;right: 0;color: #888;
							.date{margin-right: 2px;}
							.btns{line-height: 0;
								a{display: inline-block;width: 8px;height: 8px;margin-left: 4px; vertical-align:middle;background-repeat: no-repeat;background-position: center center;}
								.modify{background-image: url("../img/icon_pencil-small.png");background-size: 7px 7px;}
								.delete{background-image: url("../img/icon_trash-small.png");background-size: 5px 7px;}
							}
						}
					}
				}
				@include respond-to('medium'){padding: 40px 60px 100px;border-radius: 0 0 4px 4px;
					&-write{margin-bottom: 40px;
						>label{top:10px;font-size: 16px}
						.input-comment{margin: 0 188px 0 100px;padding: 6px;border-radius:5px;
							>input[type="text"]{font-size: 16px;}
						}
						.btn-wrap{
							label{font-size: 16px}
							.btn-save{width: 94px;height: 35px;margin-left: 10px;font-size: 14px;background-size: 94px 32px;}
						}
					}
					&-list{
						>li{padding: 8px 0;font-size: 14px;
							.comment-writer{
								img{width: 25px;height: 25px;}
								>a{margin-left:10px;}
							}
							.comment{margin-left: 100px;margin-right: 200px;}
							.info{top:12px;
								.date{margin-right: 5px;}
								.btns{
									a{width: 16px;height: 16px;margin-left: 8px;}
									.modify{background-size: 14px 14px;}
									.delete{background-size: 11px 14px;}
								}
							}
						}
					}
				}
			}
		}
	}
}
#contents.conbox{
	>article.conbox{margin: 0 5px;border-radius: 5px;background: #fff;
		.conbox-wrap{padding: 30px 20px;}
	}
	.conbox-profile{position: relative;margin:0 10px 32px;padding-bottom: 60px;border-bottom: 1px solid #e4e4e4;
		.user{width: 380px;
			&-photo{position:absolute;overflow: hidden;width: 64px;height: 64px;border-radius: 32px;}
			&-info{margin-left: 80px;
				&-wrap{overflow: hidden;
					.name{font-size: 22px;font-family: $font-weight-bold;}
					.sns-wrap{margin-left: 10px; font-size: 0;
						a{margin-left: 10px;}
					}
				}
				.desc{margin-top: 10px;font-size: 14px;color: #888;line-height: 1.5em;}
			}
		}
		.category{position:absolute;top:0;right:0;width: 156px;height: 32px;color: #b8c1c9;line-height: 1em;border:2px solid #c6ccd2;border-radius: 4px; background-image: url(../img/kbox_bg_selectbox.png);background-repeat: no-repeat;background-position: right 10px center;background-size: 11px 7px;
			label{display: block;overflow: hidden;margin:8px 10px;color: #777; text-overflow: ellipsis; white-space: nowrap;}
			select{position:absolute;top:8px;width: 140px;opacity: 0;filter: alpha(opacity=0);/* IE 8 */
			}
		}
	}
	.conbox-list{width: 100%;max-width: 990px;margin:0 5px;
		&::after{content: "";display: block;clear: both;}

		.item{position:relative;width: 50%;margin-bottom: 10px;
			@include respond-to('medium'){width: 25%;}

			&-wrap{background: #fff;margin:0 5px;border:1px solid #b7b7b7;border-radius: 5px;}
			&-header{padding: 10px;
				.author{position: relative;height: 30px;
					.profile{position: absolute;left:0;vertical-align: middle;line-height: 0;}
					.name{display:block;overflow: hidden;padding: 8px 0;margin-left: 35px;margin-right: 18px; font-size:14px;font-weight: bold;vertical-align: middle;text-overflow: ellipsis; white-space: nowrap;}
					.state{display: block;position:absolute;top:6px;right:0;width: 18px;height: 18px;font-size: 0;line-height: 0;
					}
					&::after{content: "";display: block;clear: both;}
				}
				.description{position:relative;padding: 5px 0;font-size: 11px;color: #888;
					span:first-child{display: block;overflow: hidden;margin-right: 60px;text-overflow: ellipsis; white-space: nowrap;}
					.date{position: absolute;top:6px;right: 0;}
				}
			}
			&-view{padding:0 10px 10px 10px;
				p{font-size: 13px;color: #888;line-height: 18px;}
				img,audio,video,object{max-width: 100% !important;}
				object{display: block;}
				
			}
			&-footer{position: relative;border-top: 1px solid #e4e4e4;
				&::after{content:"";display: block;clear: both;}
				>a{display: block;float: left;width: 25%;
					&:first-child span{border:0;}
					span{display: block;padding: 30px 0 7px;font-size: 11px; text-align: center;color: #b2b2b2;border-left: 1px solid #e4e4e4;background-repeat: no-repeat;background-position: center 7px;
					}
					&.like>span{background-image: url(../img/item_btn_like.png);}
					&.like.active>span{background-image: url(../img/item_btn_like-on.png);}
					&.share>span{background-image: url(../img/item_btn_share.png);}
					&.share.active>span{background-image: url(../img/item_btn_share-on.png);}
					&.pop>span{background-image: url(../img/item_btn_popcon.png);}
					&.pop.active>span{background-image: url(../img/item_btn_popcon-on.png);}
					&.comments>span{background-image: url(../img/item_btn_comment.png);}
					&.comments.active>span{background-image: url(../img/item_btn_comment-on.png);}
				}
			}

			&.text .item-view{padding: 10px;border-top:1px solid #e4e4e4;}
		}
	}
}

#contents.setting{
	.setting{margin: 0 5px;border-radius: 5px;background: #fff;
		&-wrap{padding: 24px 30px;}
		&-header{padding-bottom: 15px;
			h1{display:inline-block;font-size: 22px;font-family: $font-weight-bold;vertical-align: middle;}
			.point{display: inline-block;margin-left: 38px;padding:3px 0 3px 25px;font-family: $font-weight-bold;background-image: url("../img/icon_point.png");background-repeat: no-repeat;background-size:19px 18px;background-position: left center;}
			.btn_info{display: inline-block;width: 16px;height: 16px;background-image: url("../img/icon_info.png");background-repeat: no-repeat;background-size: 16px 16px;background-position: center center;vertical-align: middle;}
		}
		&-content{position: relative;padding: 24px 10px;border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;font-size: 14px;
			
			>.profile{position: absolute;width: 200px;text-align: center;
				.photo{overflow: hidden;width: 198px;height:178px;border-radius: 5px;
					&.blank{background-image: url("../img/blank_profile_male.png");background-position: center center;background-repeat: no-repeat; background-color: #eff3f7;border:2px dotted #d4e2ed;}
				}
				.btn{display: inline-block;overflow: hidden; width: 94px;height: 32px;margin-top:10px;background-image: url("../img/setting_btn_file.png");background-repeat: no-repeat;background-position: center center;background-size: 94px 32px;cursor: pointer;
					input{margin-left: -80px; font-size: 30px;opacity: 0;cursor: pointer;}
				}
			}
			>.info{margin-left: 250px;
				dl{position: relative;height: 36px;padding: 10px 0;border-top: 1px solid #efefef;
					&:first-child{padding-top:0;border-top: none;
						dt{top:0;}
					}
					>dt{position: absolute;top:20px;color: #919191;}
					>dd{margin-left: 130px;color: #000;
						.input-wrap{position: relative;height: 16px;padding:7px 10px 8px;border:2px solid #c6ccd2; border-radius: 5px;
							input[type='text']{width: 100%;height: 100%; margin:0;padding: 0;border:0;background: none;color: #777;font-size: 16px;}
						}
					}
					&.id{
						.btn{position: absolute;top:0;right: 0; display: block;width: 134px; height: 32px;background-image: url('../img/setting_btn_pwchange.png');background-repeat: no-repeat;background-size: 134px 32px;}
					}
					&.state{
						dd{padding:10px 0;
							.state-icon{
								img{margin-left: 10px;vertical-align: middle;}
							}
						}
					}
					&.mail{
						dd{padding: 8px 0;
							.radio1{margin-right: 40px;}
						}
					}
				}
				.dl-column{font-size: 0;
					dl{display: inline-block;position: relative;width: 50%;font-size: 16px;border-top:1px solid #efefef;
						&:first-child{padding: 10px 0;}
						dt{position:absolute;top:20px;scolor: #919191;}
						dd{margin-left: 130px;padding: 10px 0;color: #000;}
					}
				}
			}
		}
		&-footer{padding: 22px 0 50px;text-align: center;
			.setting-btn{display: inline-block;width: 120px;padding: 8px 0;margin: 0 6px; border:1px solid #a6abae;border-radius: 5px;background: #bdc3c7;color: #fff;font-size: 14px;
				&.save{border:1px solid #488ab2;background: #529ecc;}
			}
		}
	}
}


//기타UI
.pop-menu{
	
	&.active{display: block;}
	&.user{top:20px;left:17px;}
	&.comment-user{top:15px;left:17px;}
	&.popcon{top:15px;left:64px;}
	@include respond-to('medium'){
		&.user{top:30px;left:35px;}
		&.comment-user{top:30px;left:35px;}
		&.popcon{top:30px;left:128px;}
	}
}

//비주얼배너
.wide-visual{overflow: hidden;margin:30px 0;}
.main-visual{position: relative;width: 100%;height: 102px;
	.bx-wrapper{height: 102px;}
	ul{height: 102px;border-radius: 5px;
		li{height: 100%;line-height: 0;
			img{width: 100%;height: 100%;}
		}
	}
	.bx-controls{position: absolute;top:0;left:0;z-index: 1000;width: 100%;height: 100%;
		.bx-pager{
			position: absolute; bottom:7px;width: 100%;text-align: center;
			.bx-pager-item{display: inline-block;
				a{display: block;width: 6px;height: 6px;padding:0 1px;font-size: 0;line-height: 0;text-indent: -9999px;background-image: url("../img/mainvisual_indicator.png");background-repeat: no-repeat;background-size: 6px 6px;
					&.active{background-image: url("../img/mainvisual_indicator-selected.png");}
				}
			}
		}
		.bx-controls-direction{
			a{position: absolute;top:50%;width: 24px;height: 24px;margin-top:-12px;background-repeat: no-repeat;background-size: 24px 24px;font-size: 0;line-height: 0;text-indent: -9999px;
				&.bx-prev{left:10px;background-image: url("../img/mainvisual_btn_prev.png");}
				&.bx-next{right:10px;background-image: url("../img/mainvisual_btn_next.png");}
			}
		}
	}
	@include respond-to('medium'){float: left;width: 100%;height: 204px;
		.bx-wrapper{height: 204px;margin:0 5px;}
		ul{height: 204px;
			li{overflow: hidden;border-radius: 5px;
				img{width: 100%;height:auto;}
			}
		}
		.bx-controls{
			.bx-pager{
				bottom:14px;
				.bx-pager-item{
					a{width: 11px;height: 11px;padding:0 3px;background-size: 11px 11px;}
				}
			}
			.bx-controls-direction{
				a{width: 48px;height: 48px;margin-top:-24px;background-size: 48px 48px;
					&.bx-prev{left:25px;}
					&.bx-next{right:25px;}
				}
			}
		}
	}
}