//반응형웹 브레이크포인트
$breakpoints: (
  'narrow': (min-width: 320px),
  'medium': (min-width: 720px),
  'wide': (min-width: 1200px),
);

//반응형웹 브레이크포인트 매니저
//@include respond-to('medium'){} 형태로 선언
@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}@else{
		@error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
	}
}

//변수선언
$font-weight-normal: 'NanumGothic', sans-serif;
$font-weight-bold: 'NanumGothicBold', sans-serif;

//레이아웃 스타일
#contents.wide{width: 100%;min-height: 100%;background: #f4f4f4;
	.kbox{
		&-header{position: relative;width: 100%;background: #fff;
			.user{position: relative;width: 990px;margin:0 auto;padding: 30px 0;text-align: center;
				&-photo{display: inline-block;margin-bottom: 15px; overflow: hidden;width: 64px;height: 64px;border-radius: 32px;}
				&-info{text-align: center;width: 100%;
					&-wrap{overflow: hidden;
						.name{margin-left: 45px; font-size: 22px;font-family: $font-weight-bold;line-height: 1.5em;}
						.sns-wrap{margin-left: 10px; font-size: 0;
							a{margin-left: 10px;}
						}
					}
					.desc{width: 450px;margin: 10px auto 0;font-size: 14px;color: #888;line-height: 1.5em;}
				}
			}
			.category{position:absolute;top:40px;right:0;width: 156px;height: 32px;color: #b8c1c9;line-height: 1em;border:2px solid #c6ccd2;border-radius: 4px; background-image: url(../img/kbox_bg_selectbox.png);background-repeat: no-repeat;background-position: right 10px center;background-size: 11px 7px;
				label{display: block;overflow: hidden;margin:8px 10px;color: #777;text-align: left;text-overflow: ellipsis; white-space: nowrap;}
				select{position:absolute;top:8px;width: 140px;opacity: 0;filter: alpha(opacity=0);/* IE 8 */
				}
			}
			.btns{margin-top:30px;border-top:1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;font-size: 0;text-align: center;
				a{display: inline-block;width: 120px;padding: 42px 0 10px;text-align: center;font-size: 12px;color: #7f8c8d;background-repeat: no-repeat;background-position: center 10px;
					&.like{background-image: url(../img/kbox_btn_like.png);background-size: 22px 25px;}
					&.share{background-image: url(../img/kbox_btn_share.png);background-size: 24px 23px;}
					&.popcon{background-image: url(../img/kbox_btn_popcon.png);background-size: 24px 25px;}
					&.comments{background-image: url(../img/kbox_btn_comment.png);background-size: 21px 23px;}
					&.follower{background-image: url(../img/kbox_btn_follower.png);background-size: 20px 27px;}
				}
			}
		}
		#grid{padding:40px 0;
			.name{margin-left:0}
		}
	}
	&.message{
		.message-header{width: 100%;padding: 24px 0;border-bottom: 1px solid #e4e4e4;
			h1{width: 100%;max-width: 990px;margin: 0 auto;text-align: center;font-size: 22px;font-family: $font-weight-bold;}
		}
		.message-comments{width: 100%;max-width: 990px;margin: 0 auto;padding:30px 0;
			&-list{margin:0 5px;
				>li{position: relative;padding: 4px 0;border-bottom: 1px solid #e1e1e1;font-size: 8px;
					.comment-writer{position: absolute;display: inline-block;
						.user-photo{display: inline-block;overflow: hidden;width: 12px;height: 12px;border-radius: 6px;line-height: 0;vertical-align:middle;}
						img{width: 12px;height: 12px;}
						>a{display: inline-block;margin-left:5px;color: #529ecc;}
					}
					.comment{display: inline-block;margin-left: 50px;margin-right: 130px;text-align: left;
						span{display: block;line-height: 1.5em;}
					}
					.info{position: absolute;top:12px;right: 0;color: #888;
						.date{margin-right: 2px;font-size: 7px;}
						.btns{line-height: 0;
							a{display: inline-block;width: 8px;height: 8px;margin-left: 4px; vertical-align:middle;background-repeat: no-repeat;background-position: center center;}
							.modify{background-image: url("../img/icon_pencil-small.png");background-size: 7px 7px;}
							.delete{background-image: url("../img/icon_trash-small.png");background-size: 5px 7px;}
						}
					}
				}
			}
			@include respond-to('medium'){padding: 20px 0;border-radius: 0 0 4px 4px;
				&-list{
					>li{padding: 8px 0;font-size: 16px;
						.comment-writer{
							.user-photo{width: 25px;height: 25px;border-radius: 12.5px;}
							img{width: 25px;height: 25px;}
							>a{margin-left:10px;}
						}
						.comment{margin-left: 100px;margin-right: 200px;}
						.info{top:12px;
							.date{margin-right: 5px;font-size: 14px;}
							.btns{
								a{width: 16px;height: 16px;margin-left: 8px;}
								.modify{background-size: 14px 14px;}
								.delete{background-size: 11px 14px;}
							}
						}
					}
				}
			}
		}
	}
}

#grid{width: 100%;max-width: 990px;margin:0 auto;
	&::after{content: "";display: block;clear: both;}
	
	.item{position:relative;width: 50%;margin-bottom: 10px;
		@include respond-to('medium'){width: 25%;}
		
		&-wrap{background: #fff;margin:0 5px;border:1px solid #b7b7b7;border-radius: 5px;}
		&-header{padding: 10px;
			.author{position: relative;height: 30px;
				.profile{position: absolute;left:0;vertical-align: middle;line-height: 0;}
				.name{display:block;overflow: hidden;padding: 8px 0;margin-left: 35px;margin-right: 18px; font-size:14px;font-weight: bold;vertical-align: middle;text-overflow: ellipsis; white-space: nowrap;}
				.state{display: block;position:absolute;top:6px;right:0;width: 18px;height: 18px;font-size: 0;line-height: 0;
				}
				&::after{content: "";display: block;clear: both;}
			}
			.description{position:relative;padding: 5px 0;font-size: 11px;color: #888;
				span:first-child{display: block;overflow: hidden;margin-right: 60px;text-overflow: ellipsis; white-space: nowrap;}
				.date{position: absolute;top:6px;right: 0;}
			}
		}
		&-view{padding:0 10px 10px 10px;
			p{font-size: 13px;color: #888;line-height: 18px;}
			img{max-width: 100%;}
		}
		&-footer{position: relative;border-top: 1px solid #e4e4e4;
			&::after{content:"";display: block;clear: both;}
			>a{display: block;float: left;width: 25%;
				&:first-child span{border:0;}
				span{display: block;padding: 30px 0 7px;font-size: 11px; text-align: center;color: #b2b2b2;border-left: 1px solid #e4e4e4;background-repeat: no-repeat;background-position: center 7px;
				}
				&.like>span{background-image: url(../img/item_btn_like.png);}
				&.like.active>span{background-image: url(../img/item_btn_like-on.png);}
				&.share>span{background-image: url(../img/item_btn_share.png);}
				&.share.active>span{background-image: url(../img/item_btn_share-on.png);}
				&.pop>span{background-image: url(../img/item_btn_popcon.png);}
				&.pop.active>span{background-image: url(../img/item_btn_popcon-on.png);}
				&.comments>span{background-image: url(../img/item_btn_comment.png);}
				&.comments.active>span{background-image: url(../img/item_btn_comment-on.png);}
			}
		}

		&.text .item-view{padding: 10px;border-top:1px solid #e4e4e4;}
	}
}

//etc
.pop-menu{
	&.active{display: block;}
	&.user{top:20px;left:17px;}
	&.comment-user{top:15px;left:17px;}
	&.popcon{top:15px;left:64px;}
	@include respond-to('medium'){
		&.user{top:30px;left:35px;}
		&.comment-user{top:30px;left:35px;}
		&.popcon{top:30px;left:128px;}
	}
}

.layer-wrap{position: absolute;top:25%;left:0;right:0;
	.layer{width: 100%;max-width: 620px; margin:0 auto;background: #fff;border-radius: 5px;box-shadow: 0 0 20px rgba(0,0,0,0.45);
		&-header{margin: 0 28px;padding:20px 0;border-bottom: 1px solid #e5e5e5;
			h1{font-size: 22px;font-family: $font-weight-bold;color: #333;}
		}
		&-content{margin: 0 28px;padding: 24px 0;color: #919191;}
		&-footer{padding: 22px 0;border-top:1px solid #e4e4e4; background: #f3f4f5;border-radius: 0 0 5px 5px;text-align: center;font-size: 0;
			.layer-btn{display: inline-block;min-width: 64px;margin: 0 5px; padding: 8px 28px; border:1px solid #a5abae;border-radius: 5px;background: #bdc3c7;color: #fff;font-size: 16px;
				&.complete,
				&.submit,
				&.confirm,{background: #529ecc;border: 1px solid #488ab2;}
			}
		}
	}
	
	#add-info{
		dl{position: relative;height: 36px;margin-top:14px;
			&:first-child{margin:0;}
			dt{position: absolute;top:10px; width: 90px;text-align: right;}
			dd{margin-left: 120px;
				.input-wrap{position: relative;height: 22px;margin-right: 5px; padding:5px 10px 5px;border:2px solid #c6ccd2; border-radius: 5px;
					input[type='text']{width: 100%;height: 100%; margin:0;padding: 0;border:0;background: none;color: #777;font-size: 16px;}
				}
			}
			&.gender{
				.radio-wrap{padding: 8px;
					input[type='radio']{margin: 0;margin-right: 5px;}
					label{margin: 0;padding: 0;margin-right: 15px;}
				}
			}
			&.birth{
				.input-wrap{margin-right: 40px;}
				img{position: absolute;top:0;right: -40px;}
			}
			&.nation{
					.category{position: relative;height: 32px;color: #b8c1c9;line-height: 1em;border:2px solid #c6ccd2;border-radius: 4px; background-image: url(../img/kbox_bg_selectbox.png);background-repeat: no-repeat;background-position: right 10px center;background-size: 11px 7px;
					label{position: absolute;top:8px;left:10px;right:10px;overflow: hidden;color: #777;text-align: left;text-overflow: ellipsis; white-space: nowrap;}
					select{width: 100%;margin: 8px 0;opacity: 0;filter: alpha(opacity=0);/* IE 8 */
					}
				}
			}
		}
	}
	
	#friend-list{
		.layer-content{padding:20px 0;}
		li{position: relative;padding:8px 0;border-top: 1px solid #e1e1e1;
			.user{position: relative;font-size: 0;
				.profile{display: inline-block;width: 24px;height: 24px;border-radius: 12px;background: #e1e1e1;vertical-align: middle;}
				.name{display: inline-block;margin-left:10px ;padding: 4px 0;font-size: 16px;color: #529ecc;vertical-align: middle;}
			}
			.info{display: block;position:absolute;top:8px;right:12px;padding: 4px 0;}
			&:first-child{padding-top:0;border:0;
				.info{top:0;}
			}
		}
	}
	
	#message-send{
		.layer-content{
			dl{position: relative;padding: 12px 0;
				dt{position: absolute;width: 50px;text-align: right;}
				dd{margin-left: 70px;
					.input-wrap{position: relative;height: 22px;padding:5px 10px 5px;border:2px solid #c6ccd2; border-radius: 5px;
						input[type='text']{width: 100%;height: 100%; margin:0;padding: 0;border:0;background: none;color: #777;font-size: 16px;}
					}
				}
				&.send-to{
					dd{padding: 0 18px;}
				}
				&.message{
					dt{top:20px;}
				}
			}
			.btn-wrap{text-align: center;padding-top: 15px;
				.message-btn{display: inline-block;width: 120px;padding: 8px 0;margin: 0 6px; border:1px solid #a6abae;border-radius: 5px;background: #bdc3c7;color: #fff;font-size: 14px;
					&.save{border:1px solid #488ab2;background: #529ecc;}
				}
			}
		}
		.layer-footer{
			.message-comments-wrap{padding: 0 30px;}
			.message-comments{padding: 20px 10px 30px;background: #f7f7f7;border-radius: 0 0 4px 4px;
				&-list{
					>li{position: relative;padding: 4px 0;border-bottom: 1px solid #e1e1e1;font-size: 8px;
						.comment-writer{position: absolute;display: inline-block;
							.user-photo{display: inline-block;overflow: hidden;width: 12px;height: 12px;border-radius: 6px;line-height: 0;vertical-align:middle;}
							img{width: 12px;height: 12px;}
							>a{display: inline-block;margin-left:5px;color: #529ecc;}
						}
						.comment{display: inline-block;margin-left: 50px;margin-right: 130px;text-align: left;
							span{display: block;line-height: 1.5em;}
						}
						.info{position: absolute;top:12px;right: 0;color: #888;
							.date{margin-right: 2px;font-size: 7px;}
							.btns{line-height: 0;
								a{display: inline-block;width: 8px;height: 8px;margin-left: 4px; vertical-align:middle;background-repeat: no-repeat;background-position: center center;}
								.modify{background-image: url("../img/icon_pencil-small.png");background-size: 7px 7px;}
								.delete{background-image: url("../img/icon_trash-small.png");background-size: 5px 7px;}
							}
						}
					}
				}
				@include respond-to('medium'){padding: 40px 60px 100px;border-radius: 0 0 4px 4px;
					&-list{
						>li{padding: 8px 0;font-size: 16px;
							.comment-writer{
								.user-photo{width: 25px;height: 25px;border-radius: 12.5px;}
								img{width: 25px;height: 25px;}
								>a{margin-left:10px;}
							}
							.comment{margin-left: 100px;margin-right: 200px;}
							.info{top:12px;
								.date{margin-right: 5px;font-size: 14px;}
								.btns{
									a{width: 16px;height: 16px;margin-left: 8px;}
									.modify{background-size: 14px 14px;}
									.delete{background-size: 11px 14px;}
								}
							}
						}
					}
				}
			}
		}
	}
	
	#find-pw{
		.layer-content{padding: 75px 0;
			dl{position: relative;height: 36px;margin-top:14px;padding: 0 40px;
				&:first-child{margin:0;}
				dt{position: absolute;top:10px;text-align: left;}
				dd{margin-left: 96px;
					.input-wrap{position: relative;height: 22px;padding:5px 10px 5px;border:2px solid #c6ccd2; border-radius: 5px;
						input[type='text']{width: 100%;height: 100%; margin:0;padding: 0;border:0;background: none;color: #777;font-size: 16px;}
					}
				}
			}
		}
	}
	
	#my-point{
		.layer-content{
			.description{margin-bottom: 30px; font-size: 18px;color: #000;text-align: center;line-height: 1.5em;}
			.point{text-align: center;font-size: 30px;font-family: $font-weight-bold;
				dt{display: inline-block;color:#333;}
				dd{display: inline-block;color:#ff3333;}
			}
			.point-detail{padding-top:15px;font-size:14px;color: #777;text-align:center;}
		}
	}
	
	#change-theme{
		.layer-content{padding: 35px 0;
			dl{position: relative;width: 350px;margin: 12px auto 0;
				&:first-child{margin-top:0;}
				dt{position:absolute;top:12px;width: 130px;text-align: right;}
				dd{margin-left: 165px;}
			}
			.btn-colorpicker{display: block;position: relative;width:180px;height: 36px;background: url("../img/btn_colorpicker.png") no-repeat;
				span{position: absolute;top:10px;left: 50px;width: 130px;text-align: center;color: #fff;font-family: $font-weight-bold;}
			}
		}
	}
	
	#upload{
		.layer-content{padding: 25px 0 45px;
			dl{position: relative;
				&:first-child>dd{padding-top: 0;border:0;}
				
				dt{position:absolute;top:12px;width: 100px;text-align: right;}
				dd{margin-left: 140px;padding: 10px 0;border-top: 1px solid #efefef;
					.input-wrap{position: relative;height: 22px;margin-right: 5px; padding:5px 10px 5px;border:2px solid #c6ccd2; border-radius: 5px;
						input[type='text']{width: 100%;height: 100%; margin:0;padding: 0;border:0;background: none;color: #777;font-size: 16px;}
					}
					
					.textarea-wrap{position: relative;margin-right: 5px; padding:7px 10px 9px;border:2px solid #c6ccd2; border-radius: 5px;
						textarea{width: 100%;height: 82px; margin:0;padding: 0;border:0;background: none;color: #777;font-size: 16px;resize: vertical;}
					}
					
					.file-btn{display: inline-block;overflow: hidden; width: 94px;height: 32px;background-image: url("../img/setting_btn_file.png");background-repeat: no-repeat;background-position: center center;background-size: 94px 32px;cursor: pointer;
						input{margin-left: -80px; font-size: 25px;opacity: 0;cursor: pointer;}
					}
					.upload-select{position: relative;width: 225px;height: 32px;color: #b8c1c9;line-height: 1em;border:2px solid #c6ccd2;border-radius: 4px; background-image: url(../img/kbox_bg_selectbox.png);background-repeat: no-repeat;background-position: right 10px center;background-size: 11px 7px;
						label{position: absolute;top:8px;left:10px;right:10px;overflow: hidden;color: #777;text-align: left;text-overflow: ellipsis; white-space: nowrap;}
						select{width: 100%;margin: 8px 0;opacity: 0;filter: alpha(opacity=0);/* IE 8 */}
					}
					.radio-wrap{font-size: 0;
						li{display: inline-block;font-size: 16px;margin-left: 15px;
							&:first-child{margin:0;}
							label{padding-left: 5px;}
						}
					}
				}
				&.file>dd{line-height: 0;}
				&.setting>dd{position: relative;
					.sns-check{position: absolute;top:12px;right:5px;}
				}
			}
		}
	}
}
#sign{position: relative;transition-property:background-color;transition-duration: 0.3s;
	//sign 배경색 컨트롤
	&.guide0{background-color: none;}
	&.guide1{background-color: #a772bc;}
	&.guide2{background-color: #7ac3d8;}
	&.guide3{background-color: #7ec481;}
	&.guide4{background-color: #efaf4e;
		.guide-coachmark{opacity: 1 !important;}
	}
	.sign-header{position: absolute;overflow: hidden;width: 100%;padding:15px 0;z-index: 9999;
		h1{float: left;margin-left: 50px; padding: 3px 0;}
		.sign-btn{display:block;float: right; width: 122px;margin-right: 75px; padding: 10px 0;color: #fff;border-radius: 4px;background: #529ecc; text-align: center;}
	}
	.sign-content{text-align: center;
		.sign{
			&-in{
				.find-pw{display:block;width: 100%;margin-top: 15px;color: #fff;text-align: center;text-decoration: underline;}
			}
			&-visual{width: 100%;height: 310px;margin-top: 180px;background-image: url("../img/sign_visual.png");background-repeat: no-repeat;background-position: center bottom;}
			&-input-wrap{width: 300px;margin: 35px auto 0;
				.input{display: block;position:relative;width: 280px;height: 45px;margin-bottom: 10px;padding: 0 10px;border-bottom: 1px solid #fff;
					&:first-child{border-bottom: 2px solid #fff;}
					label{display: block; padding-top:15px; color: #fff;text-align: left;}
					input[type='text']{position: absolute;top:15px;left:10px;right: 10px;width: 280px;padding: 0;border: 0;background: none;color: #fff;text-align: left;}
				}
				.sign-submit{display: block;width: 100%;margin-top: 20px;padding: 15px 0;border: 0;border-radius: 4px;background: #529ecc;color: #fff; text-align: center;}
			}
			.sns-wrap{width: 370px;margin: 30px auto 0;padding: 30px;text-align: center;font-size: 0;background-image: url("../img/sign_bg_snsWrap.png");background-repeat: no-repeat;background-position: center top;
				a{display: inline-block;margin-left: 34px;
					&:first-child{margin: 0;}
				}
			}
			.indicator-description{display: inline-block;margin-top:45px; color: #fff;}

			article{
				&.guide{
					img{max-width: 100%}
				}
				&.guide1{padding-top: 100px;
					.title{margin-top:35px;}
					.description{margin-top:30px;}
				}
				&.guide2{padding-top:100px;
					.title{margin-bottom: 20px;}
				}
				&.guide3{padding-top:100px;
					.title{margin-bottom:10px;}
				}
				&.guide4{position: relative;padding-top:100px;
					.title{margin-bottom:10px;}
				}
			}
		}
		.guide-coachmark{position:fixed;top:50%;right: 50px;margin-top:-220px; z-index: 10;opacity: 0; transition-property:opacity;transition-duration: 0.3s;}
	}
	.sign-footer{position: relative;width: 100%;font-size: 0;text-align: center;
		.banner-wrap{padding-bottom: 40px;
			a{display: inline-block;padding:0 10px;}
		}
	}
	.bx-wrapper{
		.bx-pager{position: relative;padding: 20px 0; 
			.bx-pager-item{display: inline-block;font-size: 0;line-height: 0;text-indent: -9999px;
				>a{display: block;width: 16px;height: 16px;margin: 2px; background-image: url("../img/sign_indicator.png");background-repeat: no-repeat;background-size: 16px 16px;
					&.active{background-image: url("../img/sign_indicator_on.png");}
				}
			}
		}
		.bx-controls-direction{
			>a{position: fixed;top:50%;width: 48px;height: 48px;margin-top:-24px;font-size: 0;line-height: 0;text-indent: -9999px;z-index: 9999;
				&.bx-prev{left: 40px; background-image: url("../img/sign_btn_prevArr.png");}
				&.bx-next{right: 40px; background-image: url("../img/sign_btn_nextArr.png");}
			}
		}
	}
}