/* line 25, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
#contents.wide {
  width: 100%;
  min-height: 100%;
  background: #f4f4f4; }
  /* line 27, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #contents.wide .kbox-header {
    position: relative;
    width: 100%;
    background: #fff; }
    /* line 28, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #contents.wide .kbox-header .user {
      position: relative;
      width: 990px;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center; }
      /* line 29, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #contents.wide .kbox-header .user-photo {
        display: inline-block;
        margin-bottom: 15px;
        overflow: hidden;
        width: 64px;
        height: 64px;
        border-radius: 32px; }
      /* line 30, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #contents.wide .kbox-header .user-info {
        text-align: center;
        width: 100%; }
        /* line 31, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .user-info-wrap {
          overflow: hidden; }
          /* line 32, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide .kbox-header .user-info-wrap .name {
            margin-left: 45px;
            font-size: 22px;
            font-family: 'NanumGothicBold', sans-serif;
            line-height: 1.5em; }
          /* line 33, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide .kbox-header .user-info-wrap .sns-wrap {
            margin-left: 10px;
            font-size: 0; }
            /* line 34, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide .kbox-header .user-info-wrap .sns-wrap a {
              margin-left: 10px; }
        /* line 37, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .user-info .desc {
          width: 450px;
          margin: 10px auto 0;
          font-size: 14px;
          color: #888;
          line-height: 1.5em; }
    /* line 40, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #contents.wide .kbox-header .category {
      position: absolute;
      top: 40px;
      right: 0;
      width: 156px;
      height: 32px;
      color: #b8c1c9;
      line-height: 1em;
      border: 2px solid #c6ccd2;
      border-radius: 4px;
      background-image: url(../img/kbox_bg_selectbox.png);
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 11px 7px; }
      /* line 41, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #contents.wide .kbox-header .category label {
        display: block;
        overflow: hidden;
        margin: 8px 10px;
        color: #777;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap; }
      /* line 42, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #contents.wide .kbox-header .category select {
        position: absolute;
        top: 8px;
        width: 140px;
        opacity: 0;
        filter: alpha(opacity=0);
        /* IE 8 */ }
    /* line 45, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #contents.wide .kbox-header .btns {
      margin-top: 30px;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      font-size: 0;
      text-align: center; }
      /* line 46, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #contents.wide .kbox-header .btns a {
        display: inline-block;
        width: 120px;
        padding: 42px 0 10px;
        text-align: center;
        font-size: 12px;
        color: #7f8c8d;
        background-repeat: no-repeat;
        background-position: center 10px; }
        /* line 47, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .btns a.like {
          background-image: url(../img/kbox_btn_like.png);
          background-size: 22px 25px; }
        /* line 48, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .btns a.share {
          background-image: url(../img/kbox_btn_share.png);
          background-size: 24px 23px; }
        /* line 49, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .btns a.popcon {
          background-image: url(../img/kbox_btn_popcon.png);
          background-size: 24px 25px; }
        /* line 50, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .btns a.comments {
          background-image: url(../img/kbox_btn_comment.png);
          background-size: 21px 23px; }
        /* line 51, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide .kbox-header .btns a.follower {
          background-image: url(../img/kbox_btn_follower.png);
          background-size: 20px 27px; }
  /* line 55, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #contents.wide .kbox #grid {
    padding: 40px 0; }
    /* line 56, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #contents.wide .kbox #grid .name {
      margin-left: 0; }
  /* line 60, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #contents.wide.message .message-header {
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid #e4e4e4; }
    /* line 61, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #contents.wide.message .message-header h1 {
      width: 100%;
      max-width: 990px;
      margin: 0 auto;
      text-align: center;
      font-size: 22px;
      font-family: 'NanumGothicBold', sans-serif; }
  /* line 63, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #contents.wide.message .message-comments {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 30px 0; }
    /* line 64, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #contents.wide.message .message-comments-list {
      margin: 0 5px; }
      /* line 65, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #contents.wide.message .message-comments-list > li {
        position: relative;
        padding: 4px 0;
        border-bottom: 1px solid #e1e1e1;
        font-size: 8px; }
        /* line 66, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide.message .message-comments-list > li .comment-writer {
          position: absolute;
          display: inline-block; }
          /* line 67, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment-writer .user-photo {
            display: inline-block;
            overflow: hidden;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            line-height: 0;
            vertical-align: middle; }
          /* line 68, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment-writer img {
            width: 12px;
            height: 12px; }
          /* line 69, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment-writer > a {
            display: inline-block;
            margin-left: 5px;
            color: #529ecc; }
        /* line 71, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide.message .message-comments-list > li .comment {
          display: inline-block;
          margin-left: 50px;
          margin-right: 130px;
          text-align: left; }
          /* line 72, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment span {
            display: block;
            line-height: 1.5em; }
        /* line 74, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide.message .message-comments-list > li .info {
          position: absolute;
          top: 12px;
          right: 0;
          color: #888; }
          /* line 75, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .info .date {
            margin-right: 2px;
            font-size: 7px; }
          /* line 76, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .info .btns {
            line-height: 0; }
            /* line 77, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .btns a {
              display: inline-block;
              width: 8px;
              height: 8px;
              margin-left: 4px;
              vertical-align: middle;
              background-repeat: no-repeat;
              background-position: center center; }
            /* line 78, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .btns .modify {
              background-image: url("../img/icon_pencil-small.png");
              background-size: 7px 7px; }
            /* line 79, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .btns .delete {
              background-image: url("../img/icon_trash-small.png");
              background-size: 5px 7px; }
    @media (min-width: 720px) {
      #contents.wide.message .message-comments {
        padding: 20px 0;
        border-radius: 0 0 4px 4px; }
        /* line 86, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #contents.wide.message .message-comments-list > li {
          padding: 8px 0;
          font-size: 16px; }
          /* line 88, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment-writer .user-photo {
            width: 25px;
            height: 25px;
            border-radius: 12.5px; }
          /* line 89, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment-writer img {
            width: 25px;
            height: 25px; }
          /* line 90, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment-writer > a {
            margin-left: 10px; }
          /* line 92, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .comment {
            margin-left: 100px;
            margin-right: 200px; }
          /* line 93, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          #contents.wide.message .message-comments-list > li .info {
            top: 12px; }
            /* line 94, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .date {
              margin-right: 5px;
              font-size: 14px; }
            /* line 96, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .btns a {
              width: 16px;
              height: 16px;
              margin-left: 8px; }
            /* line 97, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .btns .modify {
              background-size: 14px 14px; }
            /* line 98, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            #contents.wide.message .message-comments-list > li .info .btns .delete {
              background-size: 11px 14px; } }

/* line 108, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
#grid {
  width: 100%;
  max-width: 990px;
  margin: 0 auto; }
  /* line 109, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #grid::after {
    content: "";
    display: block;
    clear: both; }
  /* line 111, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #grid .item {
    position: relative;
    width: 50%;
    margin-bottom: 10px; }
    @media (min-width: 720px) {
      #grid .item {
        width: 25%; } }
    /* line 114, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #grid .item-wrap {
      background: #fff;
      margin: 0 5px;
      border: 1px solid #b7b7b7;
      border-radius: 5px; }
    /* line 115, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #grid .item-header {
      padding: 10px; }
      /* line 116, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #grid .item-header .author {
        position: relative;
        height: 30px; }
        /* line 117, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-header .author .profile {
          position: absolute;
          left: 0;
          vertical-align: middle;
          line-height: 0; }
        /* line 118, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-header .author .name {
          display: block;
          overflow: hidden;
          padding: 8px 0;
          margin-left: 35px;
          margin-right: 18px;
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 119, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-header .author .state {
          display: block;
          position: absolute;
          top: 6px;
          right: 0;
          width: 18px;
          height: 18px;
          font-size: 0;
          line-height: 0; }
        /* line 121, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-header .author::after {
          content: "";
          display: block;
          clear: both; }
      /* line 123, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #grid .item-header .description {
        position: relative;
        padding: 5px 0;
        font-size: 11px;
        color: #888; }
        /* line 124, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-header .description span:first-child {
          display: block;
          overflow: hidden;
          margin-right: 60px;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 125, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-header .description .date {
          position: absolute;
          top: 6px;
          right: 0; }
    /* line 128, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #grid .item-view {
      padding: 0 10px 10px 10px; }
      /* line 129, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #grid .item-view p {
        font-size: 13px;
        color: #888;
        line-height: 18px; }
      /* line 130, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #grid .item-view img {
        max-width: 100%; }
    /* line 132, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #grid .item-footer {
      position: relative;
      border-top: 1px solid #e4e4e4; }
      /* line 133, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #grid .item-footer::after {
        content: "";
        display: block;
        clear: both; }
      /* line 134, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #grid .item-footer > a {
        display: block;
        float: left;
        width: 25%; }
        /* line 135, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a:first-child span {
          border: 0; }
        /* line 136, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a span {
          display: block;
          padding: 30px 0 7px;
          font-size: 11px;
          text-align: center;
          color: #b2b2b2;
          border-left: 1px solid #e4e4e4;
          background-repeat: no-repeat;
          background-position: center 7px; }
        /* line 138, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.like > span {
          background-image: url(../img/item_btn_like.png); }
        /* line 139, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.like.active > span {
          background-image: url(../img/item_btn_like-on.png); }
        /* line 140, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.share > span {
          background-image: url(../img/item_btn_share.png); }
        /* line 141, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.share.active > span {
          background-image: url(../img/item_btn_share-on.png); }
        /* line 142, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.pop > span {
          background-image: url(../img/item_btn_popcon.png); }
        /* line 143, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.pop.active > span {
          background-image: url(../img/item_btn_popcon-on.png); }
        /* line 144, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.comments > span {
          background-image: url(../img/item_btn_comment.png); }
        /* line 145, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #grid .item-footer > a.comments.active > span {
          background-image: url(../img/item_btn_comment-on.png); }
    /* line 149, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #grid .item.text .item-view {
      padding: 10px;
      border-top: 1px solid #e4e4e4; }

/* line 155, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
.pop-menu.active {
  display: block; }
/* line 156, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
.pop-menu.user {
  top: 20px;
  left: 17px; }
/* line 157, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
.pop-menu.comment-user {
  top: 15px;
  left: 17px; }
/* line 158, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
.pop-menu.popcon {
  top: 15px;
  left: 64px; }
@media (min-width: 720px) {
  /* line 160, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .pop-menu.user {
    top: 30px;
    left: 35px; }
  /* line 161, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .pop-menu.comment-user {
    top: 30px;
    left: 35px; }
  /* line 162, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .pop-menu.popcon {
    top: 30px;
    left: 128px; } }

/* line 166, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
.layer-wrap {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0; }
  /* line 167, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap .layer {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45); }
    /* line 168, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap .layer-header {
      margin: 0 28px;
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5; }
      /* line 169, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap .layer-header h1 {
        font-size: 22px;
        font-family: 'NanumGothicBold', sans-serif;
        color: #333; }
    /* line 171, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap .layer-content {
      margin: 0 28px;
      padding: 24px 0;
      color: #919191; }
    /* line 172, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap .layer-footer {
      padding: 22px 0;
      border-top: 1px solid #e4e4e4;
      background: #f3f4f5;
      border-radius: 0 0 5px 5px;
      text-align: center;
      font-size: 0; }
      /* line 173, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap .layer-footer .layer-btn {
        display: inline-block;
        min-width: 64px;
        margin: 0 5px;
        padding: 8px 28px;
        border: 1px solid #a5abae;
        border-radius: 5px;
        background: #bdc3c7;
        color: #fff;
        font-size: 16px; }
        /* line 176, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap .layer-footer .layer-btn.complete, .layer-wrap .layer-footer .layer-btn.submit, .layer-wrap .layer-footer .layer-btn.confirm {
          background: #529ecc;
          border: 1px solid #488ab2; }
  /* line 182, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #add-info dl {
    position: relative;
    height: 36px;
    margin-top: 14px; }
    /* line 183, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl:first-child {
      margin: 0; }
    /* line 184, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl dt {
      position: absolute;
      top: 10px;
      width: 90px;
      text-align: right; }
    /* line 185, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl dd {
      margin-left: 120px; }
      /* line 186, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #add-info dl dd .input-wrap {
        position: relative;
        height: 22px;
        margin-right: 5px;
        padding: 5px 10px 5px;
        border: 2px solid #c6ccd2;
        border-radius: 5px; }
        /* line 187, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #add-info dl dd .input-wrap input[type='text'] {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          background: none;
          color: #777;
          font-size: 16px; }
    /* line 191, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl.gender .radio-wrap {
      padding: 8px; }
      /* line 192, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #add-info dl.gender .radio-wrap input[type='radio'] {
        margin: 0;
        margin-right: 5px; }
      /* line 193, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #add-info dl.gender .radio-wrap label {
        margin: 0;
        padding: 0;
        margin-right: 15px; }
    /* line 197, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl.birth .input-wrap {
      margin-right: 40px; }
    /* line 198, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl.birth img {
      position: absolute;
      top: 0;
      right: -40px; }
    /* line 201, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #add-info dl.nation .category {
      position: relative;
      height: 32px;
      color: #b8c1c9;
      line-height: 1em;
      border: 2px solid #c6ccd2;
      border-radius: 4px;
      background-image: url(../img/kbox_bg_selectbox.png);
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 11px 7px; }
      /* line 202, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #add-info dl.nation .category label {
        position: absolute;
        top: 8px;
        left: 10px;
        right: 10px;
        overflow: hidden;
        color: #777;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap; }
      /* line 203, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #add-info dl.nation .category select {
        width: 100%;
        margin: 8px 0;
        opacity: 0;
        filter: alpha(opacity=0);
        /* IE 8 */ }
  /* line 211, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #friend-list .layer-content {
    padding: 20px 0; }
  /* line 212, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #friend-list li {
    position: relative;
    padding: 8px 0;
    border-top: 1px solid #e1e1e1; }
    /* line 213, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #friend-list li .user {
      position: relative;
      font-size: 0; }
      /* line 214, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #friend-list li .user .profile {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background: #e1e1e1;
        vertical-align: middle; }
      /* line 215, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #friend-list li .user .name {
        display: inline-block;
        margin-left: 10px;
        padding: 4px 0;
        font-size: 16px;
        color: #529ecc;
        vertical-align: middle; }
    /* line 217, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #friend-list li .info {
      display: block;
      position: absolute;
      top: 8px;
      right: 12px;
      padding: 4px 0; }
    /* line 218, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #friend-list li:first-child {
      padding-top: 0;
      border: 0; }
      /* line 219, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #friend-list li:first-child .info {
        top: 0; }
  /* line 226, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #message-send .layer-content dl {
    position: relative;
    padding: 12px 0; }
    /* line 227, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #message-send .layer-content dl dt {
      position: absolute;
      width: 50px;
      text-align: right; }
    /* line 228, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #message-send .layer-content dl dd {
      margin-left: 70px; }
      /* line 229, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #message-send .layer-content dl dd .input-wrap {
        position: relative;
        height: 22px;
        padding: 5px 10px 5px;
        border: 2px solid #c6ccd2;
        border-radius: 5px; }
        /* line 230, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-content dl dd .input-wrap input[type='text'] {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          background: none;
          color: #777;
          font-size: 16px; }
    /* line 234, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #message-send .layer-content dl.send-to dd {
      padding: 0 18px; }
    /* line 237, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #message-send .layer-content dl.message dt {
      top: 20px; }
  /* line 240, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #message-send .layer-content .btn-wrap {
    text-align: center;
    padding-top: 15px; }
    /* line 241, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #message-send .layer-content .btn-wrap .message-btn {
      display: inline-block;
      width: 120px;
      padding: 8px 0;
      margin: 0 6px;
      border: 1px solid #a6abae;
      border-radius: 5px;
      background: #bdc3c7;
      color: #fff;
      font-size: 14px; }
      /* line 242, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #message-send .layer-content .btn-wrap .message-btn.save {
        border: 1px solid #488ab2;
        background: #529ecc; }
  /* line 247, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #message-send .layer-footer .message-comments-wrap {
    padding: 0 30px; }
  /* line 248, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #message-send .layer-footer .message-comments {
    padding: 20px 10px 30px;
    background: #f7f7f7;
    border-radius: 0 0 4px 4px; }
    /* line 250, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #message-send .layer-footer .message-comments-list > li {
      position: relative;
      padding: 4px 0;
      border-bottom: 1px solid #e1e1e1;
      font-size: 8px; }
      /* line 251, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer {
        position: absolute;
        display: inline-block; }
        /* line 252, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer .user-photo {
          display: inline-block;
          overflow: hidden;
          width: 12px;
          height: 12px;
          border-radius: 6px;
          line-height: 0;
          vertical-align: middle; }
        /* line 253, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer img {
          width: 12px;
          height: 12px; }
        /* line 254, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer > a {
          display: inline-block;
          margin-left: 5px;
          color: #529ecc; }
      /* line 256, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #message-send .layer-footer .message-comments-list > li .comment {
        display: inline-block;
        margin-left: 50px;
        margin-right: 130px;
        text-align: left; }
        /* line 257, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li .comment span {
          display: block;
          line-height: 1.5em; }
      /* line 259, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #message-send .layer-footer .message-comments-list > li .info {
        position: absolute;
        top: 12px;
        right: 0;
        color: #888; }
        /* line 260, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li .info .date {
          margin-right: 2px;
          font-size: 7px; }
        /* line 261, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns {
          line-height: 0; }
          /* line 262, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns a {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 4px;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center center; }
          /* line 263, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns .modify {
            background-image: url("../img/icon_pencil-small.png");
            background-size: 7px 7px; }
          /* line 264, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns .delete {
            background-image: url("../img/icon_trash-small.png");
            background-size: 5px 7px; }
    @media (min-width: 720px) {
      .layer-wrap #message-send .layer-footer .message-comments {
        padding: 40px 60px 100px;
        border-radius: 0 0 4px 4px; }
        /* line 271, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #message-send .layer-footer .message-comments-list > li {
          padding: 8px 0;
          font-size: 16px; }
          /* line 273, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer .user-photo {
            width: 25px;
            height: 25px;
            border-radius: 12.5px; }
          /* line 274, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer img {
            width: 25px;
            height: 25px; }
          /* line 275, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .comment-writer > a {
            margin-left: 10px; }
          /* line 277, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .comment {
            margin-left: 100px;
            margin-right: 200px; }
          /* line 278, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #message-send .layer-footer .message-comments-list > li .info {
            top: 12px; }
            /* line 279, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            .layer-wrap #message-send .layer-footer .message-comments-list > li .info .date {
              margin-right: 5px;
              font-size: 14px; }
            /* line 281, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns a {
              width: 16px;
              height: 16px;
              margin-left: 8px; }
            /* line 282, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns .modify {
              background-size: 14px 14px; }
            /* line 283, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            .layer-wrap #message-send .layer-footer .message-comments-list > li .info .btns .delete {
              background-size: 11px 14px; } }
  /* line 294, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #find-pw .layer-content {
    padding: 75px 0; }
    /* line 295, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #find-pw .layer-content dl {
      position: relative;
      height: 36px;
      margin-top: 14px;
      padding: 0 40px; }
      /* line 296, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #find-pw .layer-content dl:first-child {
        margin: 0; }
      /* line 297, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #find-pw .layer-content dl dt {
        position: absolute;
        top: 10px;
        text-align: left; }
      /* line 298, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #find-pw .layer-content dl dd {
        margin-left: 96px; }
        /* line 299, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #find-pw .layer-content dl dd .input-wrap {
          position: relative;
          height: 22px;
          padding: 5px 10px 5px;
          border: 2px solid #c6ccd2;
          border-radius: 5px; }
          /* line 300, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #find-pw .layer-content dl dd .input-wrap input[type='text'] {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            background: none;
            color: #777;
            font-size: 16px; }
  /* line 309, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #my-point .layer-content .description {
    margin-bottom: 30px;
    font-size: 18px;
    color: #000;
    text-align: center;
    line-height: 1.5em; }
  /* line 310, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #my-point .layer-content .point {
    text-align: center;
    font-size: 30px;
    font-family: 'NanumGothicBold', sans-serif; }
    /* line 311, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #my-point .layer-content .point dt {
      display: inline-block;
      color: #333; }
    /* line 312, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #my-point .layer-content .point dd {
      display: inline-block;
      color: #ff3333; }
  /* line 314, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #my-point .layer-content .point-detail {
    padding-top: 15px;
    font-size: 14px;
    color: #777;
    text-align: center; }
  /* line 319, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #change-theme .layer-content {
    padding: 35px 0; }
    /* line 320, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #change-theme .layer-content dl {
      position: relative;
      width: 350px;
      margin: 12px auto 0; }
      /* line 321, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #change-theme .layer-content dl:first-child {
        margin-top: 0; }
      /* line 322, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #change-theme .layer-content dl dt {
        position: absolute;
        top: 12px;
        width: 130px;
        text-align: right; }
      /* line 323, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #change-theme .layer-content dl dd {
        margin-left: 165px; }
    /* line 325, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #change-theme .layer-content .btn-colorpicker {
      display: block;
      position: relative;
      width: 180px;
      height: 36px;
      background: url("../img/btn_colorpicker.png") no-repeat; }
      /* line 326, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #change-theme .layer-content .btn-colorpicker span {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 130px;
        text-align: center;
        color: #fff;
        font-family: 'NanumGothicBold', sans-serif; }
  /* line 332, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  .layer-wrap #upload .layer-content {
    padding: 25px 0 45px; }
    /* line 333, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    .layer-wrap #upload .layer-content dl {
      position: relative; }
      /* line 334, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #upload .layer-content dl:first-child > dd {
        padding-top: 0;
        border: 0; }
      /* line 336, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #upload .layer-content dl dt {
        position: absolute;
        top: 12px;
        width: 100px;
        text-align: right; }
      /* line 337, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #upload .layer-content dl dd {
        margin-left: 140px;
        padding: 10px 0;
        border-top: 1px solid #efefef; }
        /* line 338, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #upload .layer-content dl dd .input-wrap {
          position: relative;
          height: 22px;
          margin-right: 5px;
          padding: 5px 10px 5px;
          border: 2px solid #c6ccd2;
          border-radius: 5px; }
          /* line 339, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #upload .layer-content dl dd .input-wrap input[type='text'] {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            background: none;
            color: #777;
            font-size: 16px; }
        /* line 342, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #upload .layer-content dl dd .textarea-wrap {
          position: relative;
          margin-right: 5px;
          padding: 7px 10px 9px;
          border: 2px solid #c6ccd2;
          border-radius: 5px; }
          /* line 343, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #upload .layer-content dl dd .textarea-wrap textarea {
            width: 100%;
            height: 82px;
            margin: 0;
            padding: 0;
            border: 0;
            background: none;
            color: #777;
            font-size: 16px;
            resize: vertical; }
        /* line 346, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #upload .layer-content dl dd .file-btn {
          display: inline-block;
          overflow: hidden;
          width: 94px;
          height: 32px;
          background-image: url("../img/setting_btn_file.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 94px 32px;
          cursor: pointer; }
          /* line 347, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #upload .layer-content dl dd .file-btn input {
            margin-left: -80px;
            font-size: 25px;
            opacity: 0;
            cursor: pointer; }
        /* line 349, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #upload .layer-content dl dd .upload-select {
          position: relative;
          width: 225px;
          height: 32px;
          color: #b8c1c9;
          line-height: 1em;
          border: 2px solid #c6ccd2;
          border-radius: 4px;
          background-image: url(../img/kbox_bg_selectbox.png);
          background-repeat: no-repeat;
          background-position: right 10px center;
          background-size: 11px 7px; }
          /* line 350, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #upload .layer-content dl dd .upload-select label {
            position: absolute;
            top: 8px;
            left: 10px;
            right: 10px;
            overflow: hidden;
            color: #777;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap; }
          /* line 351, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #upload .layer-content dl dd .upload-select select {
            width: 100%;
            margin: 8px 0;
            opacity: 0;
            filter: alpha(opacity=0);
            /* IE 8 */ }
        /* line 353, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #upload .layer-content dl dd .radio-wrap {
          font-size: 0; }
          /* line 354, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
          .layer-wrap #upload .layer-content dl dd .radio-wrap li {
            display: inline-block;
            font-size: 16px;
            margin-left: 15px; }
            /* line 355, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            .layer-wrap #upload .layer-content dl dd .radio-wrap li:first-child {
              margin: 0; }
            /* line 356, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
            .layer-wrap #upload .layer-content dl dd .radio-wrap li label {
              padding-left: 5px; }
      /* line 360, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #upload .layer-content dl.file > dd {
        line-height: 0; }
      /* line 361, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      .layer-wrap #upload .layer-content dl.setting > dd {
        position: relative; }
        /* line 362, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        .layer-wrap #upload .layer-content dl.setting > dd .sns-check {
          position: absolute;
          top: 12px;
          right: 5px; }

/* line 368, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
#sign {
  position: relative;
  transition-property: background-color;
  transition-duration: 0.3s; }
  /* line 370, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign.guide0 {
    background-color: none; }
  /* line 371, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign.guide1 {
    background-color: #a772bc; }
  /* line 372, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign.guide2 {
    background-color: #7ac3d8; }
  /* line 373, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign.guide3 {
    background-color: #7ec481; }
  /* line 374, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign.guide4 {
    background-color: #efaf4e; }
    /* line 375, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign.guide4 .guide-coachmark {
      opacity: 1 !important; }
  /* line 377, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign .sign-header {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 15px 0;
    z-index: 9999; }
    /* line 378, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-header h1 {
      float: left;
      margin-left: 50px;
      padding: 3px 0; }
    /* line 379, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-header .sign-btn {
      display: block;
      float: right;
      width: 122px;
      margin-right: 75px;
      padding: 10px 0;
      color: #fff;
      border-radius: 4px;
      background: #529ecc;
      text-align: center; }
  /* line 381, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign .sign-content {
    text-align: center; }
    /* line 384, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign-in .find-pw {
      display: block;
      width: 100%;
      margin-top: 15px;
      color: #fff;
      text-align: center;
      text-decoration: underline; }
    /* line 386, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign-visual {
      width: 100%;
      height: 310px;
      margin-top: 180px;
      background-image: url("../img/sign_visual.png");
      background-repeat: no-repeat;
      background-position: center bottom; }
    /* line 387, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign-input-wrap {
      width: 300px;
      margin: 35px auto 0; }
      /* line 388, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign-input-wrap .input {
        display: block;
        position: relative;
        width: 280px;
        height: 45px;
        margin-bottom: 10px;
        padding: 0 10px;
        border-bottom: 1px solid #fff; }
        /* line 389, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #sign .sign-content .sign-input-wrap .input:first-child {
          border-bottom: 2px solid #fff; }
        /* line 390, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #sign .sign-content .sign-input-wrap .input label {
          display: block;
          padding-top: 15px;
          color: #fff;
          text-align: left; }
        /* line 391, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #sign .sign-content .sign-input-wrap .input input[type='text'] {
          position: absolute;
          top: 15px;
          left: 10px;
          right: 10px;
          width: 280px;
          padding: 0;
          border: 0;
          background: none;
          color: #fff;
          text-align: left; }
      /* line 393, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign-input-wrap .sign-submit {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 15px 0;
        border: 0;
        border-radius: 4px;
        background: #529ecc;
        color: #fff;
        text-align: center; }
    /* line 395, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign .sns-wrap {
      width: 370px;
      margin: 30px auto 0;
      padding: 30px;
      text-align: center;
      font-size: 0;
      background-image: url("../img/sign_bg_snsWrap.png");
      background-repeat: no-repeat;
      background-position: center top; }
      /* line 396, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign .sns-wrap a {
        display: inline-block;
        margin-left: 34px; }
        /* line 397, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #sign .sign-content .sign .sns-wrap a:first-child {
          margin: 0; }
    /* line 400, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign .indicator-description {
      display: inline-block;
      margin-top: 45px;
      color: #fff; }
    /* line 404, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign article.guide img {
      max-width: 100%; }
    /* line 406, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign article.guide1 {
      padding-top: 100px; }
      /* line 407, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign article.guide1 .title {
        margin-top: 35px; }
      /* line 408, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign article.guide1 .description {
        margin-top: 30px; }
    /* line 410, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign article.guide2 {
      padding-top: 100px; }
      /* line 411, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign article.guide2 .title {
        margin-bottom: 20px; }
    /* line 413, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign article.guide3 {
      padding-top: 100px; }
      /* line 414, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign article.guide3 .title {
        margin-bottom: 10px; }
    /* line 416, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .sign article.guide4 {
      position: relative;
      padding-top: 100px; }
      /* line 417, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-content .sign article.guide4 .title {
        margin-bottom: 10px; }
    /* line 421, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-content .guide-coachmark {
      position: fixed;
      top: 50%;
      right: 50px;
      margin-top: -220px;
      z-index: 10;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.3s; }
  /* line 423, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign .sign-footer {
    position: relative;
    width: 100%;
    font-size: 0;
    text-align: center; }
    /* line 424, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .sign-footer .banner-wrap {
      padding-bottom: 40px; }
      /* line 425, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .sign-footer .banner-wrap a {
        display: inline-block;
        padding: 0 10px; }
  /* line 429, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign .bx-wrapper .bx-pager {
    position: relative;
    padding: 20px 0; }
    /* line 430, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .bx-wrapper .bx-pager .bx-pager-item {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px; }
      /* line 431, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
      #sign .bx-wrapper .bx-pager .bx-pager-item > a {
        display: block;
        width: 16px;
        height: 16px;
        margin: 2px;
        background-image: url("../img/sign_indicator.png");
        background-repeat: no-repeat;
        background-size: 16px 16px; }
        /* line 432, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
        #sign .bx-wrapper .bx-pager .bx-pager-item > a.active {
          background-image: url("../img/sign_indicator_on.png"); }
  /* line 437, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
  #sign .bx-wrapper .bx-controls-direction > a {
    position: fixed;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    z-index: 9999; }
    /* line 438, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .bx-wrapper .bx-controls-direction > a.bx-prev {
      left: 40px;
      background-image: url("../img/sign_btn_prevArr.png"); }
    /* line 439, /Applications/MAMP/htdocs/150625_kpopcon/resources/css/sub.scss */
    #sign .bx-wrapper .bx-controls-direction > a.bx-next {
      right: 40px;
      background-image: url("../img/sign_btn_nextArr.png"); }

/*# sourceMappingURL=sub.css.map */